@model ICollection<DomainEntities.TableSchema>
@{
    string dataType = ViewData["DataType"] as string;
    int cols = Model.Count;
}

<h2>Excel file format details [ @dataType ]</h2>
<table class="table schemaTable" >
    <tr>
        <th class="tableSchemaHead">&nbsp;</th>
        @for (int i = 1; i <= cols; i++)
        {
            <th class="tableSchemaHead">@Helper.GetExcelColumnLabel(i)</th>
        }
    </tr>
    <tr>
        <th class="tableSchemaHead">Name</th>
        @foreach (var r in Model.OrderBy(x => x.Position))
        {
            <th>@r.ColumnName</th>
        }
    </tr>
    <tr>
        <th class="tableSchemaHead">Format</th>
        @foreach (var r in Model.OrderBy(x => x.Position))
        {
            <td>@r.DataTypeDisplayName</td>
        }
    </tr>
    <tr>
        <th class="tableSchemaHead">Empty Allowed?</th>
        @foreach (var r in Model.OrderBy(x => x.Position))
        {
            if (r.IsNullable == 1)
            {
                <td>Yes</td>
            }
            else
            {
                <td>&nbsp;</td>
            }
        }
    </tr>
</table>

