@model System.String

@using (Html.BeginForm("Upload", "Excel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Hidden("tableName", @Model)
    <table>
        <tr>
            <td style="width:200px;">Upload @Model:</td>
            <td>
                <input type="file" name="UploadedFile" />
            </td>

            <td>
                <input type="submit" name="Submit" value="Submit" />
            </td>
        </tr>
    </table>
}


