<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="UploadAPI" value="http://trackingappdev.coolsofttech.com/api/EpicFileUpload"/>
    <add key="SourceLocation" value="c:\trash\FileUploadTest"/>
    <add key="BackupLocation" value="c:\trash\FileUploadTestBackup"/>
    
    <add key="conofficehierarchy.csv" value="ZoneAreaTerritory"/>
    <add key="conemployeeuniquelist.csv" value="EmployeeMaster"/>
    <add key="concustomerupload.csv" value="CustomerMaster"/>
    <add key="condivisionsegment.csv" value="DivisionSegment"/>
    <add key="constaffdivisionupload.csv" value="StaffDivisionInput"/>
    <add key="consalesoscollparty.csv" value="CustomerDivisionBalanceInput"/>
    <add key="consalesoscoll.csv" value="StaffDailyReportDataInput"/>
    <add key="conppalist.csv" value="PPAInput"/>
	  
    <add key="IsCompleteRefresh" value="true"/>
	  
    <add key="AlertAPI" value="http://urlresolve.coolsofttech.com/api/SiteAlert"/>
  </appSettings>
</configuration>
