@{
    ViewData["Title"] = "WebPage Under Construction";
}
<h1 class="text-center">@ViewData["Title"]</h1>


<div class="col-md-12 text-center">
    <img src="~/images/under-construction_3.png" height="400" alt="" />
</div>
    <br />
    <br />
    <br />
    <br />
    <br />
<p>Please Check Later</p>
