        .navbar-inverse {
            background-color: rgba(33, 115, 0, 1);
            color: rgba(237, 0, 0, 1);
        }

        .navbar-brand {
            /*color: rgba(237, 0, 0, 1) !important;*/
            color: #ffffff !important;
        }

        .rowVisited{
            color:purple !important;
            font-weight:bold;
        }