@model IEnumerable<EpicCrmWebApi.EntityCropModel>

<h3>Crops (@Model.Count())</h3>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CropName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CropName)
            </td>
        </tr>
    }

</table>
