<div>
    <p class="text-danger">Unique Id @ViewBag.UniqueId Already Exist!</p>
    <p>Changes have been saved.Close this box and refresh the page to see the changes.</p>
</div>
<div>
    <a href="Cancel" id="popupCancelLink">Close</a>
</div>
