@{
    ViewBag.Title = "Sales Person";
}
<h2>Sales Person Association</h2>
@* https://www.w3schools.com/Bootstrap/bootstrap_scrollspy.asp
    http://www.eyecon.ro/bootstrap-datepicker/
    https://tarruda.github.io/bootstrap-datetimepicker/
*@

<div class="well">
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label>Level</label>
                <select class="form-control" id="selLevel" onchange="loadCodeNames()">
                    <option value="0">Select</option>
                    <option value="Zone">Zone</option>
                    <option value="AreaOffice">Area Office</option>
                    <option value="Territory">Territory</option>
                    <option value="HeadQuarter">Head Quarter</option>
                </select>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <label>Code Names</label>
                <select class="form-control" id="selCode" ></select>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label>&nbsp;</label>
                <input type="button" id="btnSearch" value="Search" class="form-control btn-success" />
            </div>
        </div>
        <div class="col-sm-2"></div>

    </div>

    <!-- div for filter -->
    <div class="row" id="idFilterRow">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-3">
            <input name="tbFilterCriteria" id="idFilterCriteria" type="text" class="form-control" />
        </div>
        <div class="col-sm-2">
            <input type="button" id="btnFilter" value="Filter Available Persons" class="form-control btn-info" />
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>

<div id="dataArea" class="row">
    <p>Please wait...</p>
</div>

<div class="row" id="salesAssociation">
    <div class="col-sm-4">
        <div class="form-group">
            <label id="idAvailablePersonListLabel">Available Employees</label>
            @Html.ListBox("AvailablePersons", new SelectList(new[] { "" }), new { @class = "list-group", @style = "width:435px;height:300px; margin:15px;overflow:scroll;" })
        </div>
    </div>

    <div class="col-sm-1">
        <div class="row" style="margin-top:90px">
            <div class="col-sm-12" >
                <div class="form-group">
                    <label>&nbsp;</label>
                    <input type="button" id="btnAdd" value=">>" class="form-control btn-success" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" >
                <div class="form-group">
                    <label>&nbsp;</label>
                    <input type="button" id="btnRemove" value="<<" class="form-control btn-success" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group">
            <label id="idAssignedPersonListLabel">Assigned Employees</label>
            @Html.ListBox("AssignedPersons", new SelectList(new[] { "" }), new { @class = "list-group", @style = "width:435px;height:300px; margin:15px;overflow:scroll;" })
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-group">
            <label>&nbsp;</label>
            <input type="button" id="btnSave" value="Save" class="form-control btn-success" />
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>&nbsp;</label>
            <input type="button" id="btnCancel" value="Cancel" class="form-control btn-danger" />
        </div>
    </div>
</div>

            @section scripts{
        <script type="text/javascript" src="/Scripts/date.js"></script>
                <script>
                    var isDirty;
                    isDirty = 0;

                    var searchResultData;
                    $(document).ready(
                        function () {
                            $('#idFilterRow').hide();
                            $('#dataArea').hide();
                            $('#salesAssociation').hide();
                            $("#btnSearch").off('click').on('click', btnSearchClicked);
                            $("#btnFilter").off('click').on('click', btnFilterClicked);
                            $("#btnSave").off('click').on('click', btnSaveClicked);
                            $("#btnAdd").off('click').on('click', btnAddClicked);
                            $("#btnRemove").off('click').on('click', btnRemoveClicked);
                            $("#btnCancel").off('click').on('click', btnCancelClicked);
                        });
                   
                    function setDirty() {
                        isDirty = 1;
                    }

                    var btnAddClicked = function (event) {
                        var itemVal = $('#AvailablePersons').find("option:selected").text();
                        if (itemVal == "") {
                            alert('Please select Employee from Available Employees');
                        }
                        else {
                            $('#AssignedPersons').append($('#AvailablePersons').find("option:selected").text(itemVal));
                            setDirty();
                            UpdateListBoxHeader();
                        }
                    }

                    var btnRemoveClicked = function (event) {
                        var itemVal = $('#AssignedPersons').find("option:selected").text();
                        if (itemVal == "") {
                            alert('Please select Employee from Assigned Employees')
                        }
                        else {
                            $('#AvailablePersons').append($('#AssignedPersons').find("option:selected").text(itemVal));
                            setDirty();
                            UpdateListBoxHeader();
                        }
                    }
                                                          
                    var btnSaveClicked = function (event) {
                        SaveAssignedPersons();
                    }

                    var btnCancelClicked = function (event) {
                        isDirty = 0;
                        EnableSearchCriteria();
                        $('#dataArea').hide(); 
                    }

                    var btnSearchClicked = function (event) {
                        isDirty = 0;
                        validateSearchCriteria();
                    }

                    function validateSearchCriteria() {
                        var code = $('#selCode').val();
                        var level = $('#selLevel').val();

                        if (code == 0) {
                            alert('Select Code Name from available Code Names');
                        }
                        else if (level == 0) {
                            alert('Select Level');
                        }
                        else {
                            HideSalesAssociationResultDiv();
                            DisableSearchButton();
                            GetSalesPersons(level, code);
                            ShowSalesAssociationResultDiv();
                            EnableSearchButton();
                            DisableSearchCriteria();
                        }
                    }

                    function DisableSearchCriteria() {
                        document.getElementById("selCode").disabled = true;
                        document.getElementById("selLevel").disabled = true;
                        document.getElementById("btnSearch").disabled = true;
                    }

                    function EnableSearchCriteria() {
                        document.getElementById("selCode").disabled = false;
                        document.getElementById("selLevel").disabled = false;
                        document.getElementById("btnSearch").disabled = false;
                        document.getElementById("selLevel").value = '0';
                        document.getElementById("selCode").value = '0';
                        HideSalesAssociationResultDiv();
                    }



                    var btnFilterClicked = function (event) {
                        RefreshAvailablePersonList();
                    }

                    function RefreshAvailablePersonList()
                    {
                        // pick up filtering text
                        var filteringText = $.trim($('#idFilterCriteria').val());

                        var clearingFilter = false;
                        if (filteringText == '') 
                        {
                            clearingFilter = true;
                        }

                        $('#AvailablePersons').empty();

                        var showCurrentRow = false;
                        var patt = new RegExp(filteringText, "i");
                        //var itemsShown = 0;

                        // get the list of assigned sales person
                        var assignedStaffCodes = {};
                        $('#AssignedPersons option').each(
                            function ()
                            {
                                assignedStaffCodes[$(this).val()] = "1";
                            });

                        for (var i = 0; i < searchResultData.length; i++)
                        {
                            // any item that is in assigned person list - is not to be 
                            // shown in available person list;

                            // apply filter to see if it qualifies, on each data item
                            var sc = searchResultData[i].StaffCode;
                            if (assignedStaffCodes[sc] != "1" &&
                                (
                                    clearingFilter ||
                                    patt.test(searchResultData[i].SalesPersonName) ||
                                    patt.test(searchResultData[i].StaffCode)
                                ))
                            {
                                var staff = searchResultData[i].SalesPersonName + " (" + searchResultData[i].StaffCode + ")";
                                var opt = new Option(staff, searchResultData[i].StaffCode);
                                $('#AvailablePersons').append(opt);
                                //itemsShown++;
                            }
                        }  // end of for

                        // update the label on top of list box.
                        //$("#idAvailablePersonListLabel").text('Available Sales Persons (' + itemsShown + ')');
                        UpdateListBoxHeader();
                    }

                    function UpdateListBoxHeader()
                    {
                        var itemCount = 0;
                        $('#AvailablePersons option').each(
                            function () {
                                itemCount++;
                            });

                        $("#idAvailablePersonListLabel").text('Available Employees (' + itemCount + ')');

                        itemCount = 0;
                        $('#AssignedPersons option').each(
                            function () {
                                itemCount++;
                            });
                        $("#idAssignedPersonListLabel").text('Assigned Employees (' + itemCount + ')');
                    }

                    function HideSalesAssociationResultDiv()
                    {
                        $('#AvailablePersons').empty();
                        $('#AssignedPersons').empty();

                        $('#dataArea').show();  // please wait area
                        $('#idFilterRow').hide();
                        $('#idFilterCriteria').val('');
                        $('#salesAssociation').hide();
                    }

                    function ShowSalesAssociationResultDiv()
                    {
                        $('#dataArea').hide();  // please wait area
                        $('#idFilterRow').show();
                        $('#salesAssociation').show();
                    }

                    function GetSalesPersons(level, code)
                    {
                        $.ajax('/Admin/GetSalesPersons', {
                            cache: false,
                            type: "Get",
                            contentType: "application/json",
                            dataType: "json",
                            data: { "level": level, "code": code },
                            success: function (data, textStatus, jqXHR)
                            {
                                if (data.length > 0)
                                {
                                    // save the returned data as we need to apply filter on it later
                                    searchResultData = data;
                                    for (var i = 0; i < data.length; i++)
                                    {
                                        // if IsAssigned == false - it will be handled in RefreshAvailablePersonList
                                        if (data[i].IsAssigned == true)
                                        {
                                            var staff = (data[i].SalesPersonName + " (" + data[i].StaffCode + ")");
                                            var opt = new Option(staff, data[i].StaffCode);
                                            $('#AssignedPersons').append(opt);
                                        }
                                    }
                                    RefreshAvailablePersonList();
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert("An error occured while getting data.")
                            }
                        });
                    }

                    function DisableSaveButton()
                    {
                        $('#btnSave').hide();
                    }

                    function EnableSaveButton()
                    {
                        $('#btnSave').show();
                    }

                    function DisableSearchButton() {
                        $("#btnSearch").hide();
                    }

                    function EnableSearchButton() {
                        $("#btnSearch").show();
                    }

                    function SaveAssignedPersons()
                    {
                        DisableSearchButton();
                        DisableSaveButton();
                        var code = $('#selCode').val();
                        var level = $('#selLevel').val();

                        var staffCodes = new Array();
                        $('#AssignedPersons option').each(
                            function ()
                            {
                                staffCodes.push($(this).val());
                            });

                        // user may remove all assigned entries and want to save
                        //if (staffCodes.length > 0)
                        {
                            $.ajax('/Admin/SaveAssignedSalesPersons', {
                                cache: false,
                                type: "Get",
                                contentType: "application/json",
                                dataType: "json",
                                traditional: true,
                                data: { 'staffCodes': staffCodes, 'level': level, 'code': code },
                                success: function (data, textStatus, jqXHR) {
                                    var status = data.StatusCode;
                                    if (status > 0) {
                                        $('#AssignedPersons').val([]);
                                        $('#AvailablePersons').val([]);
                                    }
                                    alert(data.Content);
                                    $('#dataArea').hide();  

                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert("An error occured while saving data.")
                                }
                            });

                        }
                        isDirty = 0;
                        EnableSaveButton();
                        EnableSearchButton();
                        EnableSearchCriteria(); 
                    }

                    function SetCodeNames()
                    {
                        var level = $('#selLevel').val();
                        $('#selCode').empty();
                        $('#AvailablePersons').empty();
                        $('#AssignedPersons').empty();
                        HideSalesAssociationResultDiv();

                        if (level == "0") {
                            return;
                        }
                        else {
                            $.ajax('/Admin/GetCodeFromLevel', {
                                cache: false,
                                type: "Get",
                                contentType: "application/json",
                                dataType: "json",
                                data: "level=" + level,
                                success: function (data, textStatus, jqXHR) {
                                    for (var i = 0; i < data.length; i++) {
                                        var opt = new Option(data[i].CodeName + ' (' + data[i].Code + ')', data[i].Code);
                                        $('#selCode').append(opt);
                                    }

                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert("An error occured while getting data.")
                                }
                            });
                        }
                    }


                    function loadCodeNames() {
                        var save;
                        if (isDirty == 1) {
                            sSave = window.confirm("You have some changes that have not been saved. Click OK to save now or CANCEL to continue without saving.");
                            if (sSave == true) {
                                SaveAssignedPersons();
                            }
                            else {
                                isDirty = 0;
                                //alert(isDirty);
                                SetCodeNames();
                            }
                        }
                        else {
                            SetCodeNames();
                            }
                    }

                </script>
            }
