<script>
    $(document).ready(function () {
        isDark();
    });

    function setStyleSheet() {
        var darkSwitch = document.getElementById("darkSwitch");
        if (darkSwitch.checked) {
            localStorage.setItem("darkSwitch", "dark");
        }
        else {
            localStorage.removeItem("darkSwitch");
        }
        isDark();
    }

    function isDark() {
        var darkThemeSelected = localStorage.getItem("darkSwitch") !== null && localStorage.getItem("darkSwitch") === "dark";
        if (darkThemeSelected) {
            $('#darkSwitch').attr('checked', true);
            var stylesheet = document.getElementById("stylesheet");
            stylesheet.setAttribute('href', '/css/Dark.css');
        }
        else {
            var stylesheet = document.getElementById("stylesheet");
            stylesheet.setAttribute('href', '/css/Light.css');
        }
    }
</script>


<div class="form-check form-switch">
    <input type="checkbox" class="form-check-input" id="darkSwitch" onchange="setStyleSheet()">
    <label class="custom-control-label text-dark" for="darkSwitch">@Startup._e["Dark Mode"]</label>
</div>