@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions


@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";

}

<form id="selectLanguage" asp-controller="Language" asp-area="" class="form-inline"
      asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" method="post"  role="form">
    @if (requestCulture != null)
    {
        <input type="hidden" name="currentCulture" value="@requestCulture.RequestCulture.UICulture.Name" />
    }
    <label asp-for="@requestCulture.RequestCulture.UICulture.Name"><i class="fa fa-language"></i></label>
    <select class="custom-select" onchange="this.form.submit();" name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
</form>
