
<div id="divLoading" hidden>
    <img src="http://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif?e44397" class="loading-image" alt="Loading..." />
</div>
<div id="overlay" hidden></div>

@*http://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif?e44397*@  
@*https://upload.wikimedia.org/wikipedia/commons/b/b9/Youtube_loading_symbol_1_(wobbly).gif*@