@model IEnumerable<string>
@{
    ViewBag.Title = "S3BucketList";
    int itemCount = Model.Count();
    int itemsToShow = 100;

    if (itemsToShow > itemCount)
    {
        itemsToShow = itemCount;
    }
}

@if (Model == null || Model.Count() == 0)
{
    <p>No items found</p>
}
else
{
    <h2>Showing @itemsToShow Bucket Items out of @itemCount</h2>
    <table class="table">
        @foreach (var item in Model.Take(itemsToShow))
        {
            <tr>
                <td>@itemCount</td>
                <td>
                    @item
                </td>
            </tr>
            itemCount--;
        }
    </table>
}

