@model Dictionary<long, string>
@{
    ViewBag.Title = "Check S3 Bucket";
}
<h2>Select S3 Bucket to check its entries</h2>

    <div class="well" id="optionsDiv">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Bucket Type</label>
                    <select class="form-control" id="selItem">
                        <option value="0" selected>Select Bucket Type</option>
                        @foreach (var o in Model)
                        {
                            <option value="@o.Key">@o.Value</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <input type="button" id="btnSubmit" value="Submit" class="form-control btn-success" />
                </div>
            </div>
        </div>
    </div>


<div id="dataArea">
</div>


@section scripts{
    <script>
            $(document).ready(
                function () {
                    $("#btnSubmit").off('click').on('click', SubmitClicked);

                    // once user changes selection boxes, clear results area;
                    $('Select#selItem').change(function () {
                        TypeChanged();
                    });

                    TypeChanged();
                }
            );

            function TypeChanged() {
                $('#dataArea').html('');
            }

            function HideSubmitButton() {
                $("#btnSubmit").hide();
            }

            function ShowSubmitButton() {
                $("#btnSubmit").show();
            }

            var SubmitClicked = function (event) {
                // ensure type is selected
                var selectedType = $('#selItem').val();
                if (selectedType == '0')
                {
                    alert("Please select Item from list");
                    return;
                }

                HideSubmitButton();
                $('#dataArea').html('<p>Please wait...</p>');

                $.ajax('/SuperAdmin/S3BucketList?internalBucketId=' + selectedType, {
                    cache: false,
                    type: "Get",
                    contentType: "application/json",
                    //data: fileName,
                    success: function (data, textStatus, jqXHR) {
                        $('#dataArea').html(data);
                        ShowSubmitButton();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("An error occured processing your request.")
                        ShowSubmitButton();
                    }
                });
            }
    </script>
}

@section styles{
    <style>
        .tableSchemaHead, th {
            text-align: center !important;
            background-color: lightgrey !important;
        }

        table.schemaTable tr td {
            text-align: center !important;
        }

        td {
            text-align: center !important;
        }
    </style>
}