@{
    IEnumerable<string> AvailableTables = ViewBag.AvailableTables;
    string SearchResultAction = ViewBag.SearchResultAction;
}

@{
    string t = $"{ViewBag.Title}";
    Html.RenderPartial("_CodeSnippetPageHeader", t);
}

<div class="well" id="idSearchWell">
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label>Table Name</label>
                <select class="form-control" id="idTableName">
                    @foreach (var o in AvailableTables)
                    {
                        <option value="@o">@o</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label>&nbsp;</label>
                <input type="button" id="btnSearch" value="Get Schema" class="form-control btn-success" />
            </div>
        </div>
    </div>
</div>
<div id="dataArea">
</div>
<div id="dataArea2">
</div>


@section scripts{
<script src="/Scripts/jquery.datetimepicker.js"></script>
    <script>

        $(document).ready(
            function () {
                ShowSearch();
                $("#btnSearch").off('click').on('click', btnSearchClicked);
                $("#showSearch").off('click').on('click', ShowSearch);

                // once user changes selection boxes, clear results area;
                $('Select').change(function () { ClearResults(); });
                $('input').change(function () { ClearResults(); });

                $('.justDate').datetimepicker({ inline: false, format: 'd-m-Y', timepicker: false, yearStart: 2017, yearEnd: 2099 });

                $('.justDate').attr({ 'placeholder': 'dd-mm-yyyy' });
            });

        function CaptureSearchCriteria() {
            var searchCriteria = {};

            searchCriteria.TableName = $("#idTableName").val();

            return searchCriteria;
        }

        // Search button
        var btnSearchClicked = function (event) {
            DisableSearchButton();

            var searchCriteria = CaptureSearchCriteria();

            if (searchCriteria.TableName == '')
            {
                $('#dataArea').html('<p>Please Enter Your Search Criteria...</p>');
                EnableSearchButton();
            }
            else
            {
                //alert(JSON.stringify(searchCriteria));
            
                ClearResults();
                $('#dataArea').html(waitImage);

                $.ajax('@SearchResultAction', {
                    cache: false,
                    type: "Get",
                    contentType: "application/json",
                    data: searchCriteria,
                    success: function (data, textStatus, jqXHR) {
                        $('#dataArea').html(data);
                        EnableSearchButton();

                        if ($("#schemaTable").length) {
                            HideSearch();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("An error occured while getting data matching your search criteria.")
                        EnableSearchButton();
                    }
                });
            }
        }

        function DisableSearchButton() {
            $("#btnSearch").hide();
        }

        function EnableSearchButton() {
            $("#btnSearch").show();
        }

        function HideSearch() {
            $("#idSearchWell").hide();
            $("#dataArea").hide();
            $("#showSearch").show();
        }

        function ShowSearch() {
            $("#idSearchWell").show("slow");
            $("#dataArea").show("slow");
            $("#showSearch").hide();
        }

        function ClearResults() {
            $('#dataArea').html('');
            $('#dataArea2').html('');
        }

    </script>
}
