@{
    ViewBag.Title = "Super Admin";
    bool IsSetupSuperAdmin = ViewBag.IsSetupSuperAdmin;

    bool archiveImages = CRMUtilities.Utils.SiteConfigData.ArchiveImage;
}

<div class="well">
    <div class="row">
        <div class="col-sm-3">
            <input type="button" id="mobileBatchProcessing" value="Process Phone Batches" class="form-control btn-danger" />
        </div>

        <div class="col-sm-3">
            <input type="button" id="sqliteBatchButton" value="Phone Batches (recent 3000)" class="form-control btn-info" />
        </div>

        <div class="col-sm-3">
            <input type="button" id="urlResolveRefreshConfig" value="Refresh Configuration" class="form-control btn-danger" />
        </div>

        <div class="col-sm-3">
            <input type="button" id="idGetTableData" value="Get Data" class="form-control btn-info" />
        </div>

    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-3">
            <input type="button" id="processExcelSheetData" value="Process Data Feed" class="form-control btn-danger" />
        </div>

        @if (IsSetupSuperAdmin)
        {
        <div class="col-sm-3">
            <input type="button" id="showOfficeHierarchy" value="Office Hierarchy" class="form-control btn-info" />
        </div>
        }
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-2">
            <input type="button" id="idUnifiedLogs" value="Logs" class="form-control btn-info" />
        </div>

        <div class="col-sm-2">
            <input type="button" id="customerButton" value="Customer" class="form-control btn-info" />
        </div>

        @if (IsSetupSuperAdmin)
        {
            <div class="col-sm-2">
                <input type="button" id="batchJsonButton" value="Upload Batch Json" class="form-control btn-danger" />
            </div>

            <div class="col-sm-2">
                <input type="button" id="questionnaireJsonButton" value="Upload Questionnaire" class="form-control btn-info" />
            </div>
        }

        <div class="col-sm-2">
            <input type="button" id="testBedButton" value="Test Bed Page" class="form-control btn-warning" />
        </div>


        <div class="col-sm-2">
            <input type="button" id="showAspNetUsers" value="ASP Net Users" class="form-control btn-info" />
        </div>

    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-2">
            <input type="button" id="distanceCalcButton" value="Calculate Distance" class="form-control btn-danger" />
            <span id="distanceCalcWait">Calculating Distances.  Please wait...</span>
        </div>

        @if (IsSetupSuperAdmin)
        {
        <div class="col-sm-2">
            <input type="button" id="createSuperAdmin" value="Create Super Admin" class="form-control btn-danger" />
        </div>
        }

        @if (IsSetupSuperAdmin)
        {
        <div class="col-sm-2">
            <input type="button" id="superAdminRights" value="Super Admin Rights" class="form-control btn-danger" />
        </div>
        }

        <div class="col-sm-2">
            <input type="button" id="impersonateUser" value="Impersonate" class="form-control btn-danger" />
        </div>

        <div class="col-sm-2">
            <input type="button" id="idAppVersions" value="Phone App Versions" class="form-control btn-info" />
        </div>

        <div class="col-sm-2">
            <input type="button" id="idExecAppIMEI" value="Exec App IMEI" class="form-control btn-info" />
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        @if (IsSetupSuperAdmin)
        {
        <div class="col-sm-2">
            <input type="button" id="smsSchedule" value="SMS Schedule" class="form-control btn-info" />
        </div>

        <div class="col-sm-2">
            <input type="button" id="sendSMS" value="Send SMS" class="form-control btn-danger" />
        </div>
        }

        <div class="col-sm-2">
            <input type="button" id="currentActivePeopleStats" value="Show Present Sms Data" class="form-control btn-info" />
        </div>

        @if (IsSetupSuperAdmin)
        {
            <div class="col-sm-2">
                <input type="button" id="crmFAQ" value="F.A.Q." class="form-control btn-info" />
            </div>
        }

    </div>
</div>

<div class="well">
    <div class="row">
        @if (IsSetupSuperAdmin)
        {
            <div class="col-sm-2">
                <input type="button" id="configEmployee" value="Employee Config" class="form-control btn-danger" />
            </div>
            <div class="col-sm-2">
                <input type="button" id="configCodeTable" value="Code Table Config" class="form-control btn-danger" />
            </div>

            <div class="col-sm-2">
                <input type="button" id="showConfigButton" value="Web.Config" class="form-control btn-info" />
            </div>
            
        }


        @if (archiveImages)
        {
            <div class="col-sm-2">
                <input type="button" id="s3BucketEntries" value="S3 Bucket List" class="form-control btn-info" />
            </div>

            <div class="col-sm-2">
                <input type="button" id="localImageEntries" value="Local Images" class="form-control btn-info" />
            </div>

            <div class="col-sm-2">
                <input type="button" id="uploadImagesToS3" value="Upload Images to S3" class="form-control btn-danger" />
            </div>

        }
    </div>
</div>


<script src="/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/Scripts/date.js"></script>
<script>
    $(document).ready(
        function () {
            $("#distanceCalcWait").hide();

            $("#sqliteBatchButton").off('click').on('click', SqliteBatchClicked);

            $("#distanceCalcButton").off('click').on('click', DistanceCalcClicked);

            $("#mobileBatchProcessing").off('click').on('click', MobileBatchProcessing);
            $("#urlResolveRefreshConfig").off('click').on('click', RefreshConfig);

            $("#processExcelSheetData").off('click').on('click', ProcessExcelSheetData);
            $("#customerButton").off('click').on('click', CustomerButtonClicked);
            $("#batchJsonButton").off('click').on('click', BatchJsonUploadButtonClicked);

            //Author:Pankaj K; Date:25/04/2021; Purpose:Upload Dealer Questionnaire;
            $("#questionnaireJsonButton").off('click').on('click', QuestionnaireJsonUploadButtonClicked);

            $("#testBedButton").off('click').on('click', TestBedButtonClicked);
            $("#showConfigButton").off('click').on('click', ShowConfigButtonClicked);
            $("#showAspNetUsers").off('click').on('click', ShowAspNetUsersClicked);

            
            $("#showOfficeHierarchy").off('click').on('click', ShowOfficeHierarchyClicked);

            $("#createSuperAdmin").off('click').on('click', CreateSuperAdminClicked);
            $("#superAdminRights").off('click').on('click', SuperAdminRightsClicked);

            $("#impersonateUser").off('click').on('click', ImpersonateUserClicked);

            $("#smsSchedule").off('click').on('click', SmsSchedule);
            $("#sendSMS").off('click').on('click', SendSms);
            $("#currentActivePeopleStats").off('click').on('click', CurrentActivePeopleData);

            $("#idAppVersions").off('click').on('click', ShowAppVersions);
            $("#idExecAppIMEI").off('click').on('click', ShowAllowedExecAppIMEI);

            $("#crmFAQ").off('click').on('click', ShowFAQClicked);
            $("#configEmployee").off('click').on('click', ConfigEmployeeClicked);
            $("#configCodeTable").off('click').on('click', ConfigCodeTableClicked);

            $("#s3BucketEntries").off('click').on('click', S3BucketEntriesClicked);
            $("#localImageEntries").off('click').on('click', LocalImageEntriesClicked);
            $("#uploadImagesToS3").off('click').on('click', UploadImagesToS3Clicked);

            $("#idUnifiedLogs").off('click').on('click', UnifiedLogsClicked);
            $("#idGetTableData").off('click').on('click', GetTableDataClicked);
        }
    );

    var GetTableDataClicked = function (event) {
        var targetUrl = '/SuperAdmin/GetTableList';
        window.location = targetUrl;
    }

    var UnifiedLogsClicked = function (event) {
        var targetUrl = '/SuperAdmin/UnifiedLogSearch';
        window.location = targetUrl;
    }

    var UploadImagesToS3Clicked = function (event) {
        var targetUrl = '/api/ImageTransfer';
        window.location = targetUrl;
    }

    var LocalImageEntriesClicked = function (event) {
        var targetUrl = '/SuperAdmin/LocalImageList';
        window.location = targetUrl;
    }

    var S3BucketEntriesClicked = function (event) {
        var targetUrl = '/SuperAdmin/CheckS3Bucket';
        window.location = targetUrl;
    }

    var ConfigEmployeeClicked = function (event) {
        var targetUrl = '/SuperAdmin/ConfigEmployee';
        window.location = targetUrl;
    }

    var ConfigCodeTableClicked = function (event) {
        var targetUrl = '/SuperAdmin/ShowCodeTableEntries';
        window.location = targetUrl;
    }

    var ShowFAQClicked = function(event)
    {
        var targetUrl = '/SuperAdmin/ShowFAQ';
        window.location = targetUrl;
    }

    var ShowAppVersions = function(event)
    {
        var targetUrl = '/SuperAdmin/ShowAppVersions';
        window.location = targetUrl;
    }

    var ShowAllowedExecAppIMEI = function(event)
    {
        var targetUrl = '/SuperAdmin/ShowExecAppIMEI';
        window.location = targetUrl;
    }

    var SqliteBatchClicked = function (event)
    {
        // show recent batches
        var targetUrl = '/SuperAdmin/ShowSqliteBatches?employeeId=-1&batchCount=7&onlyLockedBatches=false&inRecentBatches=3000';
        window.location = targetUrl;
    }

    var DistanceCalcClicked = function (event) {
        var targetUrl = '/api/Distance';
        $("#distanceCalcButton").hide();;
        $("#distanceCalcWait").show();

        var jqxhr = $.get(targetUrl)
            .success(function () {
                alert('Distance calculated.');
                $("#distanceCalcButton").show();;
                $("#distanceCalcWait").hide();
            })
            .error(function () {
                alert('An error occured.  Click ok and refresh the page.');
            });
    }

    var MobileBatchProcessing = function (event) {
        var targetUrl = '/api/MobileAction?tenantId=1';
        var jqxhr = $.get(targetUrl)
            .success(function () {
                var targetUrl = '/SuperAdmin/ShowSqliteBatches?employeeId=-1&batchCount=7&onlyLockedBatches=false&inRecentBatches=3000'
                window.location = targetUrl;
            })
            .error(function () {
                alert('An error occured.  Click ok and refresh the page.');
            });
    }

    var RefreshConfig = function (event) {
        var targetUrl = '/SuperAdmin/RefreshConfig';
        window.location = targetUrl;
    }

    var ProcessExcelSheetData = function (event) {
        var targetUrl = '/api/DataFeed/Process?tenantId=1';
        var jqxhr = $.get(targetUrl)
            .success(function () {
                var targetUrl = '/SuperAdmin/UnifiedLogSearch'
                window.location = targetUrl;
            })
            .error(function () {
                alert('An error occured.  Click ok and refresh the page.');
            });
    }

    //var ProcessOfficeHierarchyData = function(event)
    //{
    //    var targetUrl = '/api/DataFeed/RefreshOfficeHierarchy';
    //    var jqxhr = $.get(targetUrl)
    //        .success(function () {
    //            var targetUrl = '/SuperAdmin/ShowErrorLog?startItem=1&itemCount=10'
    //            window.location = targetUrl;
    //        })
    //        .error(function () {
    //            alert('An error occured.  Click ok and refresh the page.');
    //        });
    //}


    var CustomerButtonClicked = function(event)
    {
        var targetUrl = '/SuperAdmin/ShowSearch';
        window.location = targetUrl;
    }

    var BatchJsonUploadButtonClicked = function (event) {
        var targetUrl = '/SuperAdmin/UploadBatchJson';
        window.location = targetUrl;
    }
    //Author:Pankaj K; Date:25/04/2021; Purpose:Upload Dealer Questionnaire;
    var QuestionnaireJsonUploadButtonClicked = function (event) {
        var targetUrl = '/SuperAdmin/UploadQuestionnaire';
        window.location = targetUrl;
    }


    var TestBedButtonClicked = function(event)
    {
        var targetUrl = '/TestBed';
        window.location = targetUrl;
    }

    var ShowConfigButtonClicked = function(event)
    {
        var targetUrl = '/SuperAdmin/ShowConfig';
        window.location = targetUrl;
    }

    var ShowAspNetUsersClicked = function(event)
    {
        var targetUrl = '/SuperAdmin/ShowAspNetUser';
        window.location = targetUrl;
    }

    var ShowOfficeHierarchyClicked = function(event)
    {
        var targetUrl = '/Admin/ShowOfficeHierarchy';
        window.location = targetUrl;
    }

    var CreateSuperAdminClicked = function (event) {
        var targetUrl = '/SuperAdmin/Create';
        window.location = targetUrl;
    }

    var SuperAdminRightsClicked = function (event) {
        var targetUrl = '/SuperAdmin/Rights';
        window.location = targetUrl;
    }

    var ImpersonateUserClicked = function (event) {
        var targetUrl = '/SuperAdmin/Impersonate';
        window.location = targetUrl;
    }

    var SmsSchedule = function (event) {
        var targetUrl = '/SuperAdmin/SmsSchedule';
        window.location = targetUrl;
    }

    var SendSms = function(event)
    {
        var targetUrl = '/api/Sms?tenantId=1';
        var jqxhr = $.get(targetUrl)
            .success(function () {
                var targetUrl = '/SuperAdmin/UnifiedLogSearch';
                window.location = targetUrl;
            })
            .error(function () {
                alert('An error occured.  Click ok and refresh the page.');
            });
    }

    var CurrentActivePeopleData = function(event)
    {
        var todayDate = new Date().toString('yyyy-MM-dd');
        var targetUrl = '/SuperAdmin/PresentActivePeopleStats?rollupType=2&todayDate=' + todayDate;
        window.location = targetUrl;
    }

</script>
