@model IEnumerable<string>
@{
    ViewBag.Title = "Local Image List";
    long itemCount = Model.Count();
}

<h2>Local Image List</h2>

<table class="table">
    <tr>
        <th>           
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @itemCount
            </td>
            <td>
                @item
            </td>
        </tr>

        { 
            itemCount--;
        }
    }

</table>

