@{
    ViewBag.Title = "Upload Batch Json";

    string tenantName = ViewBag.TenantName as String;
}
<h2>@tenantName : Upload Batch Json file</h2>

<div class="well" id="optionsDiv">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label>File</label>
                <input type="file" id="fileControl" name="UploadedFile" class="form-control"/>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label>&nbsp;</label>
                <input type="button" id="btnUpload" value="Upload" class="form-control btn-success" />
            </div>
        </div>
    </div>
</div>


<div class="jumbotron" id="waitDiv" style="visibility:hidden;">
    <h2>Reading input file...</h2>
</div>


<div>
    <pre id="dataArea">

    </pre>
</div>

@section scripts{
    <script>
            $(document).ready(
                function () {
                    $("#btnUpload").off('click').on('click', UploadClicked);

                    $('input').change(function () { ClearResults(); });

                    $("#waitDiv").removeAttr("style");
                    $("#waitDiv").hide();

                }
            );


            var UploadClicked = function (event) {
                //alert('Upload Clicked');

                var selectedFile = $('#fileControl').val();
                if (selectedFile == undefined || selectedFile == '')
                {
                    alert("Please select Json format file for Batch Upload");
                    return;
                }

                // ensure the extension of file is xls
                if (/^.+txt$/.test(selectedFile) == false)
                {
                    alert("File type must be txt");
                    return;
                }

                selectedFile = selectedFile.replace(/^.+[\/\\]/, '');

                //$("#btnUpload").hide();

                $("#optionsDiv").hide();
                $("#waitDiv").show();
                $("div#waitDiv h2").html("Reading File..." + selectedFile);

                var fileToLoad = document.getElementById('fileControl').files[0];

                var fileReader = new FileReader();
                fileReader.onload = function (fileLoadedEvent) {
                    var textFromFileLoaded = fileLoadedEvent.target.result;
                    //document.getElementById("dataArea").textContent = textFromFileLoaded;

                    $("#optionsDiv").hide();
                    $("#waitDiv").show();
                    $("div#waitDiv h2").html("Processing File..." + selectedFile);

                    // make ajax call to server here
                    //alert(textFromFileLoaded);
                    //alert("Finished reading file...");

                    $("#dataArea").html('<h2>Please wait...</h2>');
                    //alert(textFromFileLoaded);

                    //$.post('/SuperAdmin/ProcessBatchJson', JSON.parse(textFromFileLoaded),
                    //    function (data, status) {
                    //        $("#dataArea").html(JSON.stringify(data));
                    //        $('#fileControl').val('');
                    //        $("#optionsDiv").show();
                    //        $("#waitDiv").hide();
                    //    });


                    $.ajax({
                        url: '/SuperAdmin/ProcessBatchJson',
                        type: "POST",
                        //contentType: "application/json",
                        data: { inputData: textFromFileLoaded }, // JSON.parse(textFromFileLoaded),
                        //dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            //alert(JSON.stringify(data));
                            $("#dataArea").html('<p>File: ' + selectedFile + '</p><p>' + JSON.stringify(data) + '</p>');
                            $('#fileControl').val('');
                            $("#optionsDiv").show();
                            $("#waitDiv").hide();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#dataArea").html('<p>File: ' + selectedFile + '</p><p>An error occured processing your request.' + JSON.stringify(jqXHR) + ' ' + errorThrown);
                            $("#optionsDiv").show();
                            $("#waitDiv").hide();
                        }
                    });
                };

                fileReader.readAsText(fileToLoad, "UTF-8");
            }
    </script>
}

@section styles{
    <style>
    .tableSchemaHead,th
    {
        text-align:center!important;
        background-color:lightgrey!important;
    }

    table.schemaTable tr td
    {
        text-align:center!important;
    }

    td
    {
        text-align:center!important;
    }

    </style>
}