@{
    ViewBag.Title = "Upload Question Paper]";

    string tenantName = ViewBag.TenantName as String;
}
<h2>@tenantName : Upload Question Paper in JSON file format</h2>

<div class="well" id="optionsDiv">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label>File</label>
                <input type="file" id="fileControl" name="UploadedFile" class="form-control"/>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label>&nbsp;</label>
                <input type="button" id="btnUpload" value="Upload" class="form-control btn-success" />
            </div>
        </div>
    </div>
</div>


<div class="jumbotron" id="waitDiv" style="visibility:hidden;">
    <h2>Reading input file...</h2>
</div>


<div>
    <pre id="dataArea">

    </pre>
</div>

@section scripts{
    <script>
            $(document).ready(
                function () {
                    $("#btnUpload").off('click').on('click', UploadClicked);

                    $('input').change(function () { ClearResults(); });

                    $("#waitDiv").removeAttr("style");
                    $("#waitDiv").hide();

                }
            );

            var UploadClicked = function (event) {                
                var selectedFile = $('#fileControl').val();
                if (selectedFile == undefined || selectedFile == '')
                {
                    alert("Please select Json format questionnaire file for upload");
                    return;
                }
                // ensure the extension of file is xls
                if (/^.+json$/.test(selectedFile) == false)
                {
                    alert("File type must be json");
                    return;
                }
                selectedFile = selectedFile.replace(/^.+[\/\\]/, '');
                
                $("#optionsDiv").hide();
                $("#waitDiv").show();
                $("div#waitDiv h2").html("Reading File..." + selectedFile);

                var fileToLoad = document.getElementById('fileControl').files[0];

                var fileReader = new FileReader();
                fileReader.onerror = function (e) {
                    alert('An error occured while reading the file')
                }
                fileReader.onabort = function (e) {
                    alert('File read cancelled')
                }
                
                fileReader.onload = function (e) {
                    var fileData = fileReader.result;               
                    $.ajax({
                        url: '/SuperAdmin/SaveQuestionnaire',
                        type: "POST",
                        dataType: "json",
                        data: {QuestionPaperData: fileData },                        
                        success: function (data, textStatus, jqXHR) {
                            if (data.Status) {
                                alert('Questionnaire has been saved');
                                var targetUrl = '/SuperAdmin/Index';
                                window.location = targetUrl;
                            }
                            else {
                                data.Message = "Error: " + data.Message;
                                alert(data.Message);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#dataArea").html('<p>File: ' + selectedFile + '</p><p>An error occured processing your request.' + JSON.stringify(jqXHR) + ' ' + errorThrown);
                            $("#optionsDiv").show();
                            $("#waitDiv").hide();
                        }
                    });
                };
                //fileReader.readAsText(fileToLoad, "UTF-8");
                fileReader.readAsText(fileToLoad);
            }
    </script>
}

@section styles{
    <style>
    .tableSchemaHead,th
    {
        text-align:center!important;
        background-color:lightgrey!important;
    }

    table.schemaTable tr td
    {
        text-align:center!important;
    }

    td
    {
        text-align:center!important;
    }

    </style>
}