@{ 
    string fileName = ViewBag.FileName;
    string link = ViewBag.Link;
    string guid = Guid.NewGuid().ToString();

    bool status = ViewBag.Status;
    string message = ViewBag.Message;
}

@if (status)
{
<p>
    FileName:  @fileName 
</p>
<p>
    DownloadLink: <a href="@link" target="@guid">Click here</a>
</p>
<p>
    The link remains valid for limited time.
</p>
}
else
{
    <p>
        @message
    </p>
}