@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTestBed.cshtml";
}
    <h2>Epic CRM Data Sync Test bed</h2>
    <div>
        <h2>Data Sync</h2>
        <form id="dataSyncForm" method="post" action="" enctype="application/x-www-form-urlencoded">

            <div><label>Employee Id</label></div>
            <div><input id="empId" name="EmployeeId" type="text" value="36" /></div>

            <div><label>Date</label></div>
            <div><input name="TimeStamp" type="text" value="2017-07-31 11:55pm" /></div>

            <div><label>Action Name (StartDay 1/EndDay 2/Tracking 3/SaveActivity 4)</label></div>
            <div><input name="ActivityTrackingType" type="number" value="4" /></div>

            <div><label>Latitude</label></div>
            <div><input name="Latitude" type="text" value="99.789" /></div>

            <div><label>Longitude</label></div>
            <div><input name="Longitude" type="text" value="88.777" /></div>

            <div><label>MNC</label></div>
            <div><input name="MNC" type="text" value="131403" /></div>

            <div><label>MCC</label></div>
            <div><input name="MCC" type="text" value="140303" /></div>

            <div><label>LAC</label></div>
            <div><input name="LAC" type="text" value="120103" /></div>

            <div><label>CellId</label></div>
            <div><input name="CellId" type="text" value="030512" /></div>

            <div><label>Activity Type</label></div>
            <div><input name="ActivityType" type="text" value="Activity_01" /></div>

            <div><label>Client Type</label></div>
            <div><input name="ClientType" type="text" value="ClientType_01" /></div>

            <div><label>Client Name</label></div>
            <div><input name="ClientName" type="text" value="ClientName_01" /></div>

            <div><label>Client Phone</label></div>
            <div><input name="ClientPhone" type="text" value="3182231876" /></div>

            <div><label>Comments</label></div>
            <div><input name="Comments" type="text" value="TestComment_01" /></div>

            <div>
                <input type="Submit" value="Submit" />
            </div>

            <div>
                <p id="dataSyncCompleteResponse" />
            </div>
        </form>
    </div>
    <hr />


@section scripts{
    <script>

    $(document).ready(function () {

        $("#dataSyncForm").submit(function () {
            ClearAllResponseFields();

            // create three objects to send based on data input
            var employeeId = $('#empId').val();
            var o1 = objectifyForm($('#dataSyncForm').serializeArray())
            var o2 = objectifyForm($('#dataSyncForm').serializeArray())
            var o3 = objectifyForm($('#dataSyncForm').serializeArray())

            //alert(JSON.stringify(o));

            var arrayInside = [];
            //o1.ActivityTrackingType = 1
            arrayInside.push(o1);

            o2.ActivityTrackingType = 1
            arrayInside.push(o2);

            o3.ActivityTrackingType = 1
            arrayInside.push(o3);

            var objectToSend = {};
            objectToSend.EmployeeId = employeeId;
            objectToSend.SqliteActionDataCollection = arrayInside;

            //alert(JSON.stringify(objectToSend));

            $.ajax('api/DataSync', {
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(objectToSend),
                success: function(data, textStatus, jqXHR) {$('#dataSyncCompleteResponse').text(JSON.stringify(data))}
            });

            //var jqxhr = $.post('api/DataSync', JSON.stringify(objectToSend))
            //    .success(function () {
            //        $('#dataSyncCompleteResponse').text(jqxhr["responseText"]);
            //    })
            //    .error(function () {
            //        $('#dataSyncCompleteResponse').text(jqxhr["responseText"]);
            //    });

            //var jqxhr = $.post('api/DataSync', $('#dataSyncForm').serialize())
            //    .success(function () {
            //        $('#dataSyncCompleteResponse').text(jqxhr["responseText"]);
            //    })
            //    .error(function () {
            //        $('#dataSyncCompleteResponse').text(jqxhr["responseText"]);
            //    });

            return false;
        });
    });

    function objectifyForm(formArray)
    {
        //serialize data function
        // https://stackoverflow.com/questions/1184624/convert-form-data-to-javascript-object-with-jquery

        var returnArray = {};
        for (var i = 0; i < formArray.length; i++)
        {
            // convert all to json except EmployeeId
            if (formArray[i]['name'] != 'EmployeeId') {
                returnArray[formArray[i]['name']] = formArray[i]['value'];
            }
        }
        return returnArray;
    }

    function ClearAllResponseFields()
    {
        $('#dataSyncCompleteResponse').text('');
    }

    function ShowCommonResponse(whatType, responseAsString) {
        var resObj = JSON.parse(responseAsString);
        $('#' + whatType + 'Response').text(resObj["Content"]);
        $('#' + whatType + 'ServerDateTime').text(resObj["DateTimeUtc"]);
        $('#' + whatType + 'StatusCode').text(resObj["StatusCode"]);
    }

    function ShowListActivityResponse(responseAsString)
    {
        var resObj = JSON.parse(responseAsString);
        var str = "";
        $('#listActivityItems').text(resObj["ItemCount"] + ' Activities');
        if (resObj["ItemCount"] > 0)
        {
            for(var i = 0; i < resObj["ItemCount"]; i++)
            {
                str += resObj["Activities"][i].Id + "; ";
            }

            $('#listActivityIds').text(str);
        }
    }

    function ShowListExpenseTypeResponse(responseAsString)
    {
        var resObj = JSON.parse(responseAsString);
        $('#listExpenseTypeItems').text(resObj["ItemCount"] + ' Items');
    }

    function ClearCommonResponse(whatType)    {
        $('#' + whatType + 'Response').text('');
        $('#' + whatType + 'ServerDateTime').text('');
        $('#' + whatType + 'StatusCode').text('');
    }

    </script>
}

    @section styles{
    <style type="text/css">
        div {
            margin-top: 10px;
            margin-left: 10px;
        }
    </style>
        }