@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTestBed.cshtml";
}

<h2>Download Test bed</h2>
    <div>
        <form id="downloadForm" method="post" action="" enctype="application/x-www-form-urlencoded">
            <div><label>Employee Id</label></div>
            <div><input id="employeeId" name="EmployeeId" type="text" value="36" /></div>
            <div>
                <label>IMEI</label>
            </div>
            <div>
                <input name="IMEI" type="text" />
            </div>

            <div>
                <label>Area Code</label>
            </div>
            <div>
                <input name="AreaCode" type="text" />
            </div>

            <div>
                <input type="Submit" value="Submit" />
            </div>

            <div>
                <p id="downloadCompleteResponse" />
            </div>
        </form>
    </div>
    <hr />

    <div>
        <h2>Area Codes</h2>
        <form id="downloadAreaCodesForm" method="post" action="" enctype="application/x-www-form-urlencoded">
            <div><label>Employee Id</label></div>
            <div><input id="employeeId" name="EmployeeId" type="text" value="36" /></div>
            <div>
                <label>IMEI</label>
            </div>
            <div>
                <input name="IMEI" type="text" />
            </div>

            <div><label>App Version</label></div>
            <div><input name="AppVersion" type="text" /></div>

            <div>
                <input type="Submit" value="Submit" />
            </div>

            <div>
                <p id="downloadAreaCodeResponse" />
            </div>
        </form>
    </div>
    <hr />


@section scripts{
    <script>

    $(document).ready(function () {

        $("#downloadForm").submit(function () {
            ClearAllResponseFields();

            $.ajax('/api/Download', {
                type: "Get",
                contentType: "application/json",
                dataType: "json",
                data: $('#downloadForm').serialize(),
                success: function (data, textStatus, jqXHR) { $('#downloadCompleteResponse').text(JSON.stringify(data)) }
            });

            return false;
        });

        $("#downloadAreaCodesForm").submit(function () {
            ClearAllResponseFields();

            $.ajax('/api/AreaCode', {
                type: "Get",
                contentType: "application/json",
                dataType: "json",
                data: $('#downloadAreaCodesForm').serialize(),
                success: function (data, textStatus, jqXHR) { $('#downloadAreaCodeResponse').text(JSON.stringify(data)) }
            });

            return false;
        });

    });


    function ClearAllResponseFields()
    {
        $('#downloadCompleteResponse').text('');
        $('#downloadAreaCodeResponse').text('');
    }
    </script>
}

@section styles{
<style type="text/css">
    div {
        margin-top: 10px;
        margin-left: 10px;
    }
</style>
    }