@{
    ViewBag.Title = "Employee Stats";
    Layout = "~/Views/Shared/_LayoutTestBed.cshtml";
}

<h2>Exec App Stats</h2>
<div>
    <form id="downloadForm3" method="post" action="" enctype="application/x-www-form-urlencoded">
        <div><label>Tenant Id</label>
        <input id="tenantId" name="tenantId" type="text" value="1"/></div>

        <div>
            <label>Date (yyyy-mm-dd) (leave empty for today date)</label>
        <input name="reportDate" type="text" /></div>

        <div><label>IMEI (required)</label>
        <input name="IMEI" type="text" /></div>

        <div><label>Exec App Version</label>
        <input name="Version" type="text" /></div>

        <div><label>Current Request Level (1 to 3) (for drill down testing)</label>
        <input name="currentRequestLevel" type="number" value="0"/></div>

        <div><label>Current Code (for drill down testing)</label>
        <input name="currentCode" type="text" value=""/></div>

        <div><label>Target Level (2 to 4) (for drill down testing)</label>
        <input name="targetLevel" type="number" value="0"/></div>

        <div>
            <input type="Submit" value="Submit" />
        </div>

        <div>
            <p id="downloadCompleteResponse3" />
        </div>
    </form>
</div>
<hr />


<h2>Exec App Stats (TStanes)</h2>
<div>
    <form id="downloadForm5" method="post" action="" enctype="application/x-www-form-urlencoded">
        <div><label>IMEI (required)</label></div>
        <div><input name="imei" type="text" /></div>

        <div><label>Exec App Version</label></div>
        <div><input name="version" type="text" /></div>

        <div>
            <input type="Submit" value="Submit" />
        </div>

        <div>
            <p id="downloadCompleteResponse5" />
        </div>
    </form>
</div>
<hr />


<h2>Is Supported</h2>
<div>
    <form id="downloadForm4" method="post" action="" enctype="application/x-www-form-urlencoded">
        <div><label>Tenant Id</label></div>
        <div><input id="tenantId" name="tenantId" type="text" value="1" /></div>

        <div>
            <label>Date (yyyy-mm-dd) (leave empty for today date)</label>
        </div>
        <div><input name="reportDate" type="text" /></div>

        <div><label>IMEI (required)</label></div>
        <div><input name="IMEI" type="text" /></div>

        <div>
            <input type="Submit" value="Submit" />
        </div>

        <div>
            <p id="downloadCompleteResponse4" />
        </div>
    </form>
</div>
<hr />


@section scripts{
    <script>

    $(document).ready(function () {

        $("#downloadForm3").submit(function () {
            ClearAllResponseFields();

            $.ajax('/api/EmployeeStats/GetSummaryWithDetail2', {
                type: "Get",
                contentType: "application/json",
                dataType: "json",
                data: $('#downloadForm3').serialize(),
                success: function (data, textStatus, jqXHR) { $('#downloadCompleteResponse3').text(JSON.stringify(data)) }
            });

            return false;
        });

        $("#downloadForm5").submit(function () {
            ClearAllResponseFields();

            $.ajax('/api/ExecutiveStats/UnEncryptedData', {
                type: "Get",
                contentType: "application/json",
                dataType: "json",
                data: $('#downloadForm5').serialize(),
                success: function (data, textStatus, jqXHR) { $('#downloadCompleteResponse5').text(JSON.stringify(data)) }
            });
            return false;
        });


        $("#downloadForm4").submit(function () {
            ClearAllResponseFields();

            $.ajax('/api/EmployeeStats/IsSupported', {
                type: "Get",
                contentType: "application/json",
                dataType: "json",
                data: $('#downloadForm4').serialize(),
                success: function (data, textStatus, jqXHR) { $('#downloadCompleteResponse4').text(JSON.stringify(data)) }
            });

            return false;
        });
    });


    function ClearAllResponseFields()
    {
        $('#downloadCompleteResponse3').text('');
        $('#downloadCompleteResponse5').text('');
        $('#downloadCompleteResponse4').text('');
    }
    </script>
}

@section styles{
    <style type="text/css">
        div {
            margin-top: 10px;
            margin-left: 10px;
        }
    </style>
}
