@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTestBed.cshtml";
}

<div>
    <a href="/SuperAdmin">Go Back to Super Admin page</a>
</div>
<div>
    <a href="/Default"> Click here to go to Dashboard Page</a>
</div>
<hr />

    <div>
        <a href="/TestBed/DataSync"> Click here to go to Data Sync Test Page</a>
    </div>

    <div>
        <a href="/TestBed/Download"> Click here to go to Download Test Page</a>
    </div>

    <div>
        <a href="/TestBed/ImageDownload"> Click here to go to Image Download Test Page</a>
    </div>


    <div>
        <a href="/TestBed/DownloadMini"> Click here to go to Download (Mini)Test Page</a>
    </div>

    <hr/>

    <div>
        <a href="/TestBed/EORPData"> Click here to go to EORP Chart Test Page</a>
    </div>

    <div>
        <a href="/TestBed/EORPMonthWiseData"> Click here to go to EORP (Month wise data) Bar Chart Test Page</a>
    </div>

    <div>
        <a href="/TestBed/TOPItems"> Click here to go to TOP Items Test Page</a>
    </div>

    <div>
        <a href="/TestBed/LogData"> Click here to go to Log Data Test Page</a>
    </div>


    <hr />
    <div>
        <a href="/TestBed/EmployeeStats">Click here to go to Exec App Test Page</a>
    </div>

<hr />
<div>
    <a href="/TestBed/PreSignedLinkFromS3">Upload file to S3 and Get Pre signed link</a>
</div>

<div>
    <a href="/TestBed/DistanceCalculator">Click here to go to Distance Calculator Test Page</a>
</div>

<div>
    <a href="/TestBed/ListS3Buckets">List S3 Buckets</a>
</div>

    <hr />
    <div>
        <h2>Get Active Employee Ids on IMEI</h2>
        <form id="getUserForm" method="post" action="" enctype="application/x-www-form-urlencoded">
            <div>
                <label>IMEI</label>
            </div>
            <div>
                <input name="IMEI" type="text" />
            </div>

            <div>
                <input type="Submit" value="Submit" />
            </div>
            <div>
                <p id="getUserRawResponse" />
            </div>
        </form>
    </div>
    <hr />

    <div>
        <h2>Is User Supported</h2>
        <form id="isSupportedForm" method="Get" action="" enctype="application/x-www-form-urlencoded">
            <div>
                <label>Employee Code</label>
            </div>
            <div>
                <input name="EmployeeCode" type="text" />
            </div>

            <div>
                <label>Phone</label>
            </div>
            <div>
                <input name="PhoneNumber" type="text" />
            </div>

            <div>
                <input type="Submit" value="Submit" />
            </div>

            <div>
                <p id="isSupportedRawResponse" />
            </div>
        </form>
    </div>
    <hr />

    <div>
        <h2>Register User</h2>
        <form id="registerUserForm" method="post" action="" enctype="application/x-www-form-urlencoded">
            <div>
                <label>IMEI</label>
            </div>
            <div>
                <input name="IMEI" type="text" />
            </div>

            <div>
                <label>Employee Code</label>
            </div>
            <div>
                <input name="EmployeeCode" type="text" />
            </div>

            <div>
                <label for="DateTime">Date Time (yyyy-mm-dd hh:mm:ss)</label>
            </div>
            <div>
                <input name="At" type="text" />
            </div>

            <div>
                <label>Phone</label>
            </div>
            <div>
                <input name="PhoneNumber" type="text" />
            </div>
            <div><label>App Version</label></div>
            <div><input name="AppVersion" type="text" /></div>


            <div>
                <input type="Submit" value="Submit" />
            </div>

            <div>
                <p id="registerUserRawResponse" />
            </div>
        </form>
    </div>
    <hr />


    <div>
        <h2>Start My Day</h2>
        <form id="startDayForm" method="post" action="" enctype="application/x-www-form-urlencoded">
            <div>
                <label>Employee Id</label>
            </div>
            <div>
                <input name="EmployeeId" type="number" />
            </div>
            <div>
                <label>IMEI</label>
            </div>
            <div>
                <input name="IMEI" type="text" />
            </div>

            <div>
                <label for="DateTime">Date Time (yyyy-mm-dd hh:mm:ss)</label>
            </div>
            <div>
                <input name="At" type="text" />
            </div>

            <div>
                <label for="Latitude">Latitude</label>
            </div>
            <div>
                <input name="Latitude" type="text" />
            </div>

            <div>
                <label for="Longitude">Longitude</label>
            </div>
            <div>
                <input name="Longitude" type="text" />
            </div>

            <div><label>MNC</label></div>
            <div><input name="MNC" type="number" /></div>
            <div><label>MCC</label></div>
            <div><input name="MCC" type="number" /></div>
            <div><label>LAC</label></div>
            <div><input name="LAC" type="number" /></div>
            <div><label>CellId</label></div>
            <div><input name="CellId" type="number" /></div>

            <div><label>Device Model</label></div>
            <div><input name="DeviceInfo.Model" type="text" /></div>

            <div><label>Device OS</label></div>
            <div><input name="DeviceInfo.OSVersion" type="text"/></div>

            <div><label>App Version</label></div>
            <div><input name="DeviceInfo.AppVersion" type="text"/></div>

            <div>
                <input type="Submit" value="Submit" />
            </div>

            <div id="startMyDayResponse">
            </div>
        </form>
    </div>
    <hr />

@section scripts{
<script>
    $(document).ready(function ()
    {
        $("#getUserForm").submit(function () {
            var jqxhr = $.get('/api/User/GetActiveEmployeesOnIMEI', $('#getUserForm').serialize())
                .success(function () {
                    $('#getUserRawResponse').text(jqxhr["responseText"]);
                })
                .error(function () {
                    $('#getUserRawResponse').text(jqxhr["responseText"]);
                    alert("An error occured.");
                });
            return false;
        });

        $("#registerUserForm").submit(function () {
            var jqxhr = $.post('/api/User/RegisterUser', $('#registerUserForm').serialize())
                .success(function () {
                    $('#registerUserRawResponse').text(jqxhr["responseText"]);
                })
                .error(function () {
                    $('#registerUserRawResponse').text(jqxhr["responseText"]);
                    alert("An error occured.");
                });
            return false;
        });

        $("#isSupportedForm").submit(function () {
            var jqxhr = $.get('/api/User/IsSupported', $('#isSupportedForm').serialize())
                .success(function () {
                    $('#isSupportedRawResponse').text(jqxhr["responseText"]);
                })
                .error(function () {
                    $('#isSupportedRawResponse').text(jqxhr["responseText"]);
                    alert("An error occured.");
                });
            return false;
        });


        $("#startDayForm").submit(function () {
            $('#startMyDayResponse').text("");
            var jqxhr = $.post('/api/StartDay', $('#startDayForm').serialize())
                .success(function () {
                    $('#startMyDayResponse').text(jqxhr["responseText"]);
                })
                .error(function () {
                    $('#startMyDayResponse').text(jqxhr["responseText"]);
                    alert("An error occured.");
                });
            return false;
        });
    });

    function ClearAllResponseFields()
    {
        ClearUserApiResponseArea('registerUser');
        $('#getUserRawResponse').text('');
        $('#registerUserRawResponse').text('');
    }

    function ShowUserApiResponse(whatType, responseAsString) {
        var resObj = JSON.parse(responseAsString);
        $('#' + whatType + 'EmployeeId').text(resObj["EmployeeId"]);
        $('#' + whatType + 'EmployeeName').text(resObj["EmployeeName"]);
        $('#' + whatType + 'IsActive').text(resObj["IsActive"]);
        $('#' + whatType + 'Response').text(resObj["Content"]);
        $('#' + whatType + 'ServerDateTime').text(resObj["DateTimeUtc"]);
        $('#' + whatType + 'StatusCode').text(resObj["StatusCode"]);
    }


    function ShowResponse(whatType, responseAsString) {
        var resObj = JSON.parse(responseAsString);
        $('#' + whatType + 'EmployeeDayId').text(resObj["EmployeeDayId"]);
        $('#' + whatType + 'Response').text(resObj["Content"]);
        $('#' + whatType + 'ServerDateTime').text(resObj["DateTimeUtc"]);
        $('#' + whatType + 'StatusCode').text(resObj["StatusCode"]);
    }

    function ClearResponseArea(whatType)
    {
        $('#' + whatType + 'EmployeeDayId').text('');
        ClearArea(whatType);
    }

    function ClearUserApiResponseArea(whatType) {
        $('#' + whatType + 'EmployeeId').text('');
        $('#' + whatType + 'EmployeeName').text('');
        $('#' + whatType + 'IsActive').text('');
        ClearArea(whatType);
    }

    function ClearArea(whatType)    {
        $('#' + whatType + 'Response').text('');
        $('#' + whatType + 'ServerDateTime').text('');
        $('#' + whatType + 'StatusCode').text('');
    }

    </script>
    }



@section styles{
   
<style type="text/css">
    div {
        margin-top: 10px;
        margin-left: 10px;
    }
</style>
    }


