@model Dictionary<string, int>
@{
    ViewBag.Title = "ListS3Buckets";
    int bucketCount = Model.Keys.Count;
    int sno = 0;
}

<div>
    <a href="/TestBed">Go Back to Test Bed page</a>
</div>

<h2>S3 Buckets (@bucketCount)</h2>

<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>

        </th>
        <th>
            Bucket Name
        </th>
        <th>
            # Files
        </th>
    </tr>

    @foreach (var item in Model.Keys)
    {
        sno++;
        int itemCount = Model[item];
        <tr>
            <td>@Html.DisplayFor(modelItem => sno)</td>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                &nbsp;
                @*@Html.DisplayFor(modelItem => itemCount)*@
            </td>
        </tr>
    }
</table>


