@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTestBed.cshtml";
}

    <div>
        <h2>Log Data</h2>
        <form id="logDataForm" method="post" action="" enctype="application/x-www-form-urlencoded">
            <div>
                <label>Employee Id</label>
            </div>
            <div>
                <input name="EmployeeId" type="number" />
            </div>
            <div>
                <label>IMEI</label>
            </div>
            <div>
                <input name="IMEI" type="text" />
            </div>

            <div>
                <label for="DateTime">Date Time (yyyy-mm-dd hh:mm:ss)</label>
            </div>
            <div>
                <input name="At" type="text" />
            </div>

            <div>
                <label for="LogText">Log Text</label>
            </div>
            <div>
                <input name="Text" type="text" />
            </div>

            <div>
                <input type="Submit" value="Submit" />
            </div>

            <div id="response">
            </div>
        </form>
    </div>
    <hr />

@section scripts{
<script>
    $(document).ready(function ()
    {
        $("#logDataForm").submit(function () {
            $('#response').text("");
            var jqxhr = $.post('/api/Log', $('#logDataForm').serialize())
                .success(function () {
                    $('#response').text(jqxhr["responseText"]);
                })
                .error(function () {
                    $('#response').text(jqxhr["responseText"]);
                    alert("An error occured.");
                });
            return false;
        });
    });
    </script>
    }



@section styles{
   
<style type="text/css">
    div {
        margin-top: 10px;
        margin-left: 10px;
    }
</style>
    }


