@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTestBed.cshtml";
}

<h2>Top Items</h2>
<div>
    <h2>Top Items of Products, Returns, SalesPersons Data Test Bed</h2>
    <form id="downloadForm" method="post" action="" enctype="application/x-www-form-urlencoded">
        <div>
            <label>Start Date (dd/mm/yyyy)</label>
        </div>
        <div>
            <input id="StartDate" type="text" value="24/04/2017" />
        </div>

        <div>
            <label>End Date (dd/mm/yyyy)</label>
        </div>
        <div>
            <input id="EndDate" type="text" value="24/10/2017" />
        </div>

        <div><label>Top Item Count</label></div>
        <div><input id="TopItemCount" type="number" /></div>

        <div>
            <input type="Submit" value="Submit" />
        </div>

        <div>
            <p id="completeResponse" />
        </div>
    </form>
</div>
<hr />


@section scripts{
    <script>

    $(document).ready(function () {

        $("#downloadForm").submit(function () {
            ClearAllResponseFields();

            $.ajax('/api/TOPPRS', {
                type: "Get",
                contentType: "application/json",
                dataType: "json",
                data: CaptureSearchCriteria(),
                success: function (data, textStatus, jqXHR)
                {
                    $('#completeResponse').text(JSON.stringify(data));
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("An error occured.");
                }
            });

            return false;
        });
    });

    function CaptureSearchCriteria() {
        var searchCriteria = {};
        searchCriteria.StartDate = $("#StartDate").val();
        searchCriteria.EndDate = $("#EndDate").val();
        //alert(JSON.stringify(searchCriteria));
        return searchCriteria;
    }

    function ClearAllResponseFields()
    {
        $('#completeResponse').text('');
    }
    </script>
}

@section styles{
    <style type="text/css">
        div {
            margin-top: 10px;
            margin-left: 10px;
        }
    </style>
}