@using KAR.KSFC.Components.Common.Dto.IDM.CreationOfDisbursmentProposal
@{
   // TblIdmBenfDetDTO beneficiaryDetails = ViewBag.BeneficiaryDetails;
    var encryptln = ViewBag.encryptedloanacc;
    var encryptoffcd = ViewBag.encryptedoffcd;
    var encryptedlnsb = ViewBag.encryptedlnsb;
    var encryptedutname = ViewBag.encryptedutname;
}
<div><h2 id="textCenter">Creation of Recommended Disbursement Proposal</h2></div>

<div id="DisburmnetPropsalDIV">
    <span id="spanErrorMsg" class="text-danger"></span>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="ChargeDetails-tab" data-bs-toggle="tab" data-bs-target="#ChargeDetails" type="button" role="tab" aria-controls="ChargeDetails" aria-selected="false">Release Adjustment Amount</button>
            <div class="progress">
                <div id="ChargeDetailsProgressBar" class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link " id="BeneficiaryDetails-tab" data-bs-toggle="tab" data-bs-target="#BeneficiaryDetails" type="button" role="tab" aria-controls="BeneficiaryDetails" aria-selected="false">Benificiary Details</button>
            <div class="progress">
                <div id="BeneficiaryDetailsProgressBar" class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        @await Html.PartialAsync("_Loader")
        <div class="tab-pane fade show active" id="ChargeDetails" role="tabpanel" aria-labelledby="ChargeDetails-tab">
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                @await Html.PartialAsync("_AccountNumber")
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button" id="Charge_detail_accor_btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                            <strong>Release Adjustment Amount</strong>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <div id="view-all-modelChargeDetails">
                                @await Html.PartialAsync("/Areas/Admin/Views/CreationOfDisbursmentProposal/ReleaseAdjustmentAmount/_ViewListOfCharges.cshtml")
                            </div>
                            <div class="modal" tabindex="-1" role="dialog" id="modelChargeDetails">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"></h5>
                                            <button type="button" class="close" data-dismiss="modal" onclick="ClosePopupFormsh();" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            @*<input type="submit" class="btn btn-info btn-lg previous" id="btnpreviousBuildMatAtSiteDetailsDetails" value="Previous" />*@
                            <input type="submit" class="btn btn-info btn-lg next float-end" id="btnTabChargeDetailsNext" value="&nbsp &nbsp Next &nbsp &nbsp" />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show " id="BeneficiaryDetails" role="tabpanel" aria-labelledby="BeneficiaryDetails-tab">
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                @await Html.PartialAsync("_AccountNumber")
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button" id="BeneficiaryDetails_accor_btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
                            <strong>Beneficiary Details</strong>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            <div id="view-all-BeneficiaryDetails">
                                @await Html.PartialAsync("/Areas/Admin/Views/CreationOfDisbursmentProposal/BeneficiaryDetails/_Edit.cshtml"/*,beneficiaryDetails*/)
                            </div>
                            <div class="modal" tabindex="-1" role="dialog" id="modelBeneficiaryDetails">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"></h5>
                                            <button type="button" class="close" data-dismiss="modal" onclick="ClosePopupFormsh();" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Action("ViewAccount","CreationOfDisbursmentProposal",new {accountNumber = encryptln,LoanSub = encryptedlnsb,UnitName =encryptedutname,OffCd=encryptoffcd})" class="btn btn-info btn-lg previous" id="previousbtnBeneficiaryDetailsTab">Previous</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/IDM.js" asp-append-version="true"></script>
<script type="text/javascript">
    ReloadRecommendedDisbursementDetails();
    $(".modal-content").draggable();
</script>

