@model IEnumerable<KAR.KSFC.Components.Common.Dto.EnquirySubmission.UnitDetails.RegistrationNoDetailsDTO>
<div>
    <h3 class="text-center"><i class="fas fa-comments-dollar text-success"></i> Registration Details</h3>
    <table class="table table-striped table-bordered table-sm table-responsive-xl" id="tblRegDetailsDatatable">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    Reg Type
                </th>
                <th>
                    Reg Number
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegTypeText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnqRegno)
                    </td>
                    <td>
                        <a onclick="showInPopupRD('@Url.Action("ViewRecord","RegistrationDetails",new {id=item.EnqRegnoId},Context.Request.Scheme)','View Registration Details')" class="btn btn-secondary text-white"><i class="fas fa-pencil-alt"></i> View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
