@model KAR.KSFC.Components.Common.Dto.EnquirySubmission.SecurityDocumentsDetails.SecurityDetailsDTO

<h3><i class="fas fa-comments-dollar text-success"></i>Documents Uploaded</h3>
 <br />
 <div class="row">
     <div class="col-sm-4">
         <label>Detailed Project Report :</label>
         <input id="DPR" type="checkbox" checked="" readonly="readonly", new { onclick = "return false" }/>
     </div>
     <div class="col-sm-4">
         <label>Proof of Residence :</label>
         <input id="POR" type="checkbox" checked="" readonly="readonly", new { onclick = "return false" }/>
     </div>
     <div class="col-sm-4">
         <label>Approved site and building plans :</label>
         <input id="ASBP" type="checkbox" checked="" readonly="readonly", new { onclick = "return false" }/>
     </div>
 </div>
 <div class="row">
     <div class="col-sm-4">
         <label>List of existing machinery :</label>
         <input id="LEM" type="checkbox" checked="" readonly="readonly", new { onclick = "return false" }/>
     </div>
     <div class="col-sm-4">
         <label>Audited Balance Sheet :</label>
         <input id="ABS" type="checkbox" checked="" readonly="readonly", new { onclick = "return false" }/>
     </div>
     <div class="col-sm-4">
         <label>Copies of Income Tax :</label>
         <input id="COIT" type="checkbox" checked="" readonly="readonly", new { onclick = "return false" }/>
     </div>
 </div>
 <div class="row">
     <div class="col-sm-4">
         <label>Documents related to Land and Building :</label>
         <input id="DRLB" type="checkbox" checked="" readonly="readonly", new { onclick = "return false" }/>
     </div>
     <div class="col-sm-4">
         <label>Land and Building is taken on Lease :</label>
         <input id="LBTL" type="checkbox" checked="" readonly="readonly", new { onclick = "return false" }/>
     </div>
 </div>