<table class="table table-striped table-bordered table-sm table-responsive-xl mb-2 mt-2" id="tblLoanSubDatatablecreate" aria-labelledby="LoanSubDetails-tab">
    <thead>
        <tr>
            <th class="th2">ln_ty</th>
            <th class="th2">Loan Sub</th>

            <th class="th3">Date of Sanction</th>
            <th class="th3">Sanction Amount</th>
            <th class="th3">Amount Disbursed</th>
            <th class="th4">Recommended Disbursement Amount</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Term Loan</td>
            <td>1</td>
            <td>25-08-1999</td>
            <td>6000</td>
            <td>9000</td>
            <td><input type="text" class="form-control" /></td>
        </tr>
        <tr>
            <td>Soft Loan</td>
            <td>2</td>
            <td>25-08-1999</td>
            <td>6000</td>
            <td>9000</td>
            <td><input type="text" class="form-control" /></td>
        </tr>
    </tbody>
</table>
<div class="d-flex">
    <h6 style="margin-rigth:3rem;margin-left:20rem;position:relative;">Total Amount</h6>
    <input type="text" style="margin-rigth:3rem;margin-left:2.4rem;position:relative;" readonly value="12000"/>
    <input type="text" style="margin-rigth:3rem;margin-left:1.5rem;position:relative;" readonly value="18000" />
    <input type="text" style="margin-rigth:3rem;margin-left:2.4rem;position:relative;" readonly />
</div>
