@import url("fontface.css?family=Open+Sans:300,400,600,700");

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Box under */
.graphboxunder-1 {
    background: #DCEDC8;
    padding: 5px;
    margin-top: 15px;
    min-height: 218px;
}

.graphboxunder-2 {
    background: #afe8dd;
    padding: 5px;
    margin-top: 15px;
    min-height: 218px;
}

.graphboxunder-3 {
    background: #BBDEFB;
    padding: 5px;
    margin-top: 15px;
    min-height: 218px;
}

.graphboxunder-4 {
    background: #C8E6C9;
    padding: 5px;
    margin-top: 15px;
    min-height: 218px;
}

.graph-table {
    height: 145px;
    margin-bottom: 0px !important;
}
/* Box under */
.specpanel {
    border: 0;
    box-shadow: none;
    /*margin-bottom: 20px;*/
}

.no-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.no-padding {
    padding: 0 !important;
    border: none !important;
}

.graph2under {
    background: #f1f3f6;
    padding: 10px;
    margin-top: 15px;
}

.graph1under {
    background: #f7f9fa;
    padding: 10px;
    margin-top: 15px;
}

.m-xs {
    margin: 6px;
    color: #666;
    font-weight: bold;
}

.f30 {
    font-size: 18px !important;
}

.text-success {
    color: #1ab394;
    font-size: 14px;
}

.stat-data {
    border-bottom: 1px solid #dadada;
}

.Sec-Right {
    padding-right: 10px;
    text-align: right;
    font-size: 12px !important;
}

hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: 0;
    border-top: 1px solid rgba(238, 238, 238, 0.8);
}

.footer {
    padding: 8px 8px !important;
    background: #fff;
    border-top: 1px solid #eaeaea;
    transition: margin .4s ease 0s;
    bottom: 0;
    left: 0;
    right: 0;
}

.person-list {
    font-weight: bold !important;
}

.price-list {
    text-align: right !important;
}

.fc {
    color: #666;
}

.panel {
    margin-bottom: 2px !important;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 0px !important;
    -webkit-box-shadow: none;
    box-shadow: none !important;
}


#cont-returns {
    display: none !important;
}

#dvMap {
    width: 100% !important;
    position: relative;
    overflow: hidden;
}

.xwidth {
    width: 50% !important;
    height: 47px;
    max-height: 47px !important;
}

.open > .dropdown-menu {
    display: block;
    width: 100%;
}

.container-fluid {
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
}

@media (min-width: 1200px) and (max-width: 1299px) {
         .z-grid {
                width: 100% !important;            
                }
}

@media only screen and (min-width: 1300px) and (max-width: 1600px) {
         .z-grid {
                width: 50% !important; 
            }
}
