body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /* max-width: 280px;*/
    margin: 5px !important;
}

.glass {
    position: absolute;
    opacity: 0.5;
    left: 0;
    top: 0;
    display: none;
    border: none;
    background-color: #777;
}

/* http://jsfiddle.net/Z5vas/3/ */
div#divOverGlass {
    opacity: 1;
    display: none;
    border: 1px solid red;
    background-color: #fff;
    position: fixed;
    width: 50%;
    /*height: auto;*/
    max-height:500px;
    padding: 20px;
    overflow-y:auto;
    /*margin-left: 25%;*/
    top: 10%;
    left: 20%;
    /*margin-left:5%;
    margin-top:-110px;*/
    border-radius: 20px;
}


.glass2 {
    position: absolute;
    opacity: 0.5;
    left: 0;
    top: 0;
    display: none;
    border: none;
    background-color: #777;
}

/* http://jsfiddle.net/Z5vas/3/ */
div#divOverGlass2 {
    opacity: 1;
    display: none;
    border: 1px solid red;
    background-color: #fff;
    position: fixed;
    width: 50%;
    max-height:500px;
    padding: 20px;
    overflow-y:auto;
    top: 10%;
    left: 20%;
    border-radius: 20px;
}
