@model KAR.KSFC.Components.Common.Dto.IDM.OtherDebitsDTO

@{

}
<div><h2 class="textCenter">Other Debits Details</h2></div>

<div id="OtherDebitsDIV">
    <span id="spanErrorMsg" class="text-danger"></span>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="OtherDebits-tab" data-bs-toggle="tab" data-bs-target="#OtherDebits" type="button" role="tab" aria-controls="OtherDebits" aria-selected="false">Other Debits</button>
            <div class="progress">
                <div id="OtherDebitsProgressBar" class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        @await Html.PartialAsync("_Loader")
        <div class="tab-pane fade show active" id="OtherDebits" role="tabpanel" aria-labelledby="OtherDebits-tab">
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                @await Html.PartialAsync("_AccountNumber")
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button" id="Audit_detail_accor_btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                            <strong>List of Other Debits</strong>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body" style="margin-bottom: 5%;">
                            <div id="view-all-OtherDebits">
                                @await Html.PartialAsync("/Areas/Admin/Views/EntryOfOtherDebits/OtherDebits/_ViewAll.cshtml",Model.OtherDebits)
                            </div>
                            <div class="modal" tabindex="-1" role="dialog" id="modelOtherDebitsDetails">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"></h5>
                                            <button type="button" class="close" data-dismiss="modal" onclick="ClosePopupFormsh();" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <a href="/Admin/EntryOfOtherDebits/" class="btn btn-info btn-lg text-white mb-2 mt-3">Previous</a>
                            <input type="submit" class="btn btn-info btn-lg mb-2 mt-3 submit float-end" id="fxnSubmitOtherDebits" value="Save" />
                            <div>
                                <input type="submit" class="btn btn-info btn-lg mb-1 mt-3 submit float-end" id="fxnSaveOtherDebits" value="Submit" />

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/IDM.js" asp-append-version="true"></script>
<script>
    $(".modal-content").draggable();
</script>