@model Presentation.Models.TDS.UpdateTdsQuarterlyFilingViewModel;

@{
    var id = Json.Serialize(@Model.Ids);
}


<h4 >TDS Quarterly Filing Details</h4>
<div class="mt-2 searchgrid">

    <form asp-action="UpdateTraceReferenceNo">
        <input type="hidden" asp-for="Ids" value="@id">
        <div class="row">
            <div class="form-group  col-md-6">
                <label class="control-label">Date of Filing </label>
                <label class="text-danger">  * </label>
                <input type="date" class="form-control" asp-for="DateOfFiling" required />
            </div>

            <div class="form-group  col-md-6">
                <label class="control-label">Traces Reference Number</label>
                <label class="text-danger">  * </label>
                <input type="text" maxlength="8" class="form-control" asp-for="TracesReferenceNumber" onkeypress="return (event.charCode !=8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))" required />
            </div>
        </div>

        <div class="row">
            <div class="form-group  col-md-6">
                <label class="control-label">₹ Total Paid Amount</label>
                <label class="text-danger">  * </label>
                <input class="form-control" asp-for="TotalPaidAmount" readonly />
            </div>

            <div class="form-group  col-md-6">
                <label class="control-label">No. of Transaction </label>
                <input class="form-control" id="tdsAmount" asp-for="NoOfTrans" readonly />
            </div>
        </div>
        <div class="form-group  col-md-12 ">
            <button value="" type="submit" class=" btn btn-sm btn-primary float-right mt-5"><i class="fa fa-save mr-2"></i>Save</button>
        </div>

    </form>
</div>

