@model KAR.KSFC.UI.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
<h1>@ViewData["Title"]</h1>
<div  class="text-danger">@ViewBag.errorMsg</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4></h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger" id="divErrorMessage"></div>
            <div class="row">
                <div class="col-25">
                    <b><label asp-for="CurrentPassword"></label></b>
                </div>
                <div class="col-75">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-badge"></i></span>
                        </div>

                        <input type="password" class="form-control" asp-for="CurrentPassword" id="txtCurrentPassword" placeholder="Current Password" maxlength="12">
                    </div>
                    <p style="display:none;" class="text-danger" id="pErrCurrentPassword"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <b><label for="newpassword">New Password</label></b>
                </div>
                <div class="col-75">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-badge"></i></span>
                        </div>
                        <input type="password" class="form-control" asp-for="NewPassword" id="txtNewPassword" placeholder="New Password" maxlength="12">
                    </div>
                    <p style="display:none;" class="text-danger" id="pErrNewPassword"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <b><label for="confirmnewpassword">Confirm New Password</label></b>
                </div>
                <div class="col-75">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-badge"></i></span>
                        </div>
                        <input type="password" class="form-control" asp-for="ConfirmNewPassword" id="txtConfirmNewPassword" placeholder="Confirm New Password" maxlength="12">
                    </div>
                    <p style="display:none;" class="text-danger" id="pErrConfirmNewPassword"></p>
                </div>
            </div>
            <div class="row">
                <div>
                    <input type="submit" id="btnSubmitChangePass" class="btn btn-primary form-control" value="Set New Password" />
                </div>
            </div>

        </form>
    </div>
</div>



@section Scripts {

    <script src="~/js/ChangePasswordValidation.js"></script>
    <script language="javascript" type="text/javascript">
        $("#txtNewPassword").bind('copy paste', function (e) {
            e.preventDefault();
        });

        $("#txtConfirmNewPassword").bind('copy paste', function (e) {
            e.preventDefault();
        });
    </script>

}
