/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}
.others {
   width:15.5% !important;
}
.Home {
    margin-left: 39% !important;
}
.BDetail {
    margin-left: 65% !important;
}
.Gbtn {
    margin-left: 85% !important;
    width: 14% !important;
}
.remark {
    margin-left: 76% !important;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow-x:hidden;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}



hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

.input-label {
    background-color: white;
    background-image: url('http://i.imgur.com/Fd7NROx.png' );
    background-size: 10px 13px;
    background-position: 8px 13px;
    background-repeat: no-repeat;
    text-align: left;
}

.input-amount {
    background-color: white;
    background-image: url('http://i.imgur.com/Fd7NROx.png' );
    background-size: 10px 13px;
    text-align: right;
    background-position: 3px 13px;
    background-repeat: no-repeat;
}

.amount {
    text-align: right;
}

.icon {
    text-align: center;
}

.icon img{
    width : 40px;
    height: 40px;
}

.amounteditbill {
    text-align: right;
}

.btn-search {
    height: 35px;
    width: 50%;
    margin-top: 19%;
    margin-left: 275%;
    text-align: center;
    background: #4272d7;
    white-space: nowrap;
    border-radius: 0.5px;
    font-size: 15px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn-delete {
    height: 35px;
    width: 50%;
    margin-left: 330%;
    margin-top: 19%;
    text-align: center;
    background: #4272d7;
    white-space: nowrap;
    border-radius: 0.5px;
    font-size: 15px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border-radius: 0.25rem;
    cursor: pointer;
}

ol.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px;
    margin-bottom: 1rem;
    list-style: none;
    background: white;
}

.fixed-topcustom {
    /* position: fixed;*/
    top: 7%;
    right: 0;
    left: 0;
    z-index: 1030;
}

.logoutcss {
    border-color: white !important;
}

.imageheight {
    /*  width: 298px;
    height: 90px;
    padding-left: 16px;
    margin-left: 30%;*/
    WIDTH: 100%;
    height: auto;
    margin-left: 49%;
}

.logoutdiv {
    width: 109%;
}

.logindiv {
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
    margin-right: 20px
}

.logindivprimary {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    border-radius: 4px;
    padding: 2%;
}

.loginform {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    border-radius: 4px;
    margin-left: 40px
}

.loginviewbag {
    color: red;
    margin-right: 35%;
    margin-bottom: -3%;
}

.loginotpbtn {
    width: 23rem;
    height: 35px;
    margin: 0 auto;
}

.loginbtn {
    HEIGHT: 35PX;
    LINE-HEIGHT: 7PX;
    width: 23rem;
}

.resendbtn {
    float: left;
    margin-left: 20%;
    font-size: 16px;
    margin-top: -15px;
    margin-bottom: 5%;
}





.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-textfield {
    position: relative;
}

.lbl {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}

a {
    /*color: #0d6efd;*/
    text-decoration: none !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
}

.logininput {
    font-size: 1rem;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem 0.7rem;
    color: gray;
    transition: 0.1s ease-out;
    height: 1rem;
    width: 23rem;
}

    .logininput:focus {
        border-color: #6200EE;
    }

        .logininput:focus + .lbl {
            color: #6200EE;
            top: 0;
            transform: translateY(-50%) scale(.9);
        }

    .logininput:not(:placeholder-shown) + .lbl {
        top: 0;
        transform: translateY(-50%) scale(.9);
    }



.logo {
    width: 80px;
    margin: auto
}

    .logo img {
        width: 100%;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
    }

.btnreset {
    float: right;
    /* margin-top: 25px;*/
    font-size: 16px !important;
    font-weight: 750 !important;
  /*  margin-left :2%;*/
}

.btnresetedit {
    float: right;
    /* margin-top: 25px;*/
    font-size: 16px !important;
    font-weight: 750 !important;
     margin-left :2%;
}



.billreset {
    float: right;
    margin-right: -5.9rem !important;
    font-size: 14px !important;
    font-weight: 750 !important;
}

.bnkreset {
    float: right;
    font-size: 14px !important;
    font-weight: 750 !important;
}


.billresetbtncss {
    float: right;
    font-size: 14px !important;
    font-weight: 750 !important;
}

a.disable-links {
    cursor: not-allowed;
}

.loginministercss {
    width: 80%;
    height: auto;
    padding-left: 10px;
}

.imageemblem {
    width: 16%;
    height: auto;
    margin-top: 1%;
    margin-left: auto;
}

.divcustom {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

.fontlogin {
    font-size: 17px;
}
.spanfont {
    font-size: 12px !important;
}

.divlog {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-left: 30%;
}

.btn-add {
    float: right;
    font-size: 14px !important;
    font-weight: 750 !important;
}

.input-width {
    width: 17.99%;
}

.accordioncollapse {
    display: none;
}

.labelclass {
    display: block;
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #e7f1ff;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    transition: ease .5s;
}

.labelclasses {
    display: block;
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #e7f1ff;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    transition: ease .5s;
}

.labeldclass {
    display: block;
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #e7f1ff;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    transition: ease .5s;
}



    .labelclasses .btnvendordetails:after {
        content: "\25BC";
        color: #444;
        font-weight: bold;
        float: right;
        /*      margin-left: 25px;*/
        margin-right: -8.5rem;
    }

.accordioncollapse:checked + .labelclasses .btnvendordetails:after {
    content: "\25B2";
}

.labelclass:after {
    content: "\25BC";
    color: #444;
    font-weight: bold;
    float: right;
    margin-left: 25px;
    margin-right: -0.5rem;
}

.accordioncollapse:checked + .labelclass:after {
    content: "\25B2";
}
.labeldclass:after {
    content: "\25BC";
    color: #444;
    font-weight: bold;
    float: right;
    margin-left: 25px;
    margin-right: -5.5rem;
}

.accordioncollapse:checked + .labeldclass:after {
    content: "\25B2";
}

.content {
    background: #f8f9fa;
    padding: 10px 25px;
    border: 1px;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

.accordioncollapse + .labelclass + .content {
    display: none;
}

.accordioncollapse:checked + .labelclass + .content {
    display: block;
}

.accordioncollapse + .labelclasses + .content {
    display: none;
}

.accordioncollapse:checked + .labelclasses + .content {
    display: block;
}
.accordioncollapse + .labeldclass + .content {
    display: none;
}

.accordioncollapse:checked + .labeldclass + .content {
    display: block;
}


.content {
    background: #f8f9fa;
    padding: 10px 25px;
    border: 0.2px;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.textarea1 {
    resize: none;
}

.form-dropdown {
    appearance: auto !important;
}

@media only screen and (max-width: 1280px) {

    .fontlogin {
        font-size: 14px !important;
    }

    .cardtotalbill {
        height: 6.5rem;
        border-radius: 5px;
        box-shadow: 0 2px 8px 0 blue;
    }

    .cardgsttdsdeduction {
        width: 12rem !important;
        border-radius: 5px;
        box-shadow: 0 2px 8px 0 red;
    }

    .lblclosingbalance {
        width: 100% !important;
        font-weight: 700;
    }
}

@media only screen and (max-width: 1380px) {
    .cardtotalbill {
        border-radius: 5px;
        box-shadow: 0 2px 8px 0 blue;
        height: 6.5rem !important;
    }

    .cardgsttdsdeduction {
        width: 12rem !important;
        border-radius: 5px;
        box-shadow: 0 2px 8px 0 red;
    }

    .lblclosingbalance {
        font-weight: 700;
        width: 165px !important;
    }
}

.filede {
    margin-right: 50rem !important;
    position: inherit !important;
}

.fa-trash {
    color: red !important;
}

@media only screen and (max-width: 1080px) {
    .fontlogin {
        font-size: 10px !important;
    }

    .loginform {
        box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
        border-radius: 4px;
        margin-left: 0%;
    }

    .logininput {
        font-size: 1rem;
        outline: none;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 1rem 0.7rem;
        color: gray;
        transition: 0.1s ease-out;
        height: 1rem;
        width: 18rem;
    }
    .loginbtn{
        width:18rem;
    }

    .loginministercss {
        width: 100%;
        height: auto;
    }

    .imageemblem {
        width: 16%;
        margin-left: auto;
    }

    .imageheight {
        margin-top: 14%;
        height: auto;
        margin-left: 0%;
    }

    .loginmarg {
        margin-left: 5%;
    }

    .loginotpbtn {
        width: 23rem;
        height: 35px;
        margin: 0 auto;
    }

    .cardgsttdsdeduction {
        width: 12rem !important;
        border-radius: 5px;
        box-shadow: 0 2px 8px 0 red;
    }



    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
    }

    .cardtotalbill {
        height: 6.5rem;
        border-radius: 5px;
        box-shadow: 0 2px 8px 0 blue;
    }
}

.bold {
    display: block
}

.cardicon {
    width: 20% !important;
    float: right;
}

.cardicongsttds {
    width: 20% !important;
    float: right;
}

.cardopeningbalance {
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 orange;
}

.cardtotalbill {
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 blue;
}

.cardtotalbillpayable {
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 green;
    width: 100%;
}

.cardtdsdeduction {
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 pink;
}

.cardgsttdsdeduction {
    width: 14.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 red;
}

.lblpaid {
    width: -webkit-fill-available;
    font-weight: 700;
}

.lblclosingbalance {
    width: -webkit-fill-available;
    font-weight: 700;
}

.lblgreen {
    width: -webkit-fill-available;
    border-radius: 5px;
}

.lblpink {
    width: -webkit-fill-available;
    border-radius: 5px;
}

.lblorange {
    width: -webkit-fill-available;
    border-radius: 5px;
}

.vendordetailsedit {
    margin-bottom: 2.5% !important;
}

.btnvendordetails {
    float: right;
    border: none;
    background: none;
}

.btnsave {
    float: right;
    background: none;
    border: none;
}

.btndownload {
    float: right;
    margin-right: 2px !important;
    margin-top: 5px;
}

.btnadd {
    float: right;
    color: white !important;
    font-size: 14px !important;
    font-weight: 750 !important;
    background: #0d6efd !important;
    border-radius: 3px !important;
}

th, td {
    text-align: left;
}

.input-search {
    background-color: white;
    text-align: left;
    background-size: 20px 20px;
    background-image: url('/css/themes/search.svg');
    background-position: 6px 9.5px;
    background-position-x: bottom;
    background-repeat: no-repeat;
}

.frow-label {
    font-size: 15px;
    color: black;
    font-weight: 500;
}
/*tr {
    background: #f8f9fa;
}
*/
.searchgrid {
    margin-right: 1em;
    padding: 10px;
    background: #e7f1ff;
    width: 100%;
    border-radius: 5px;
    margin-top: -8px;
}

.daterangefiled {
    width: 260px;
    margin-left: 3%;
}

.frowpnl {
    padding: 1em 0;
}

    .frowpnl label {
        vertical-align: middle;
        max-width: 20em;
    }

.boldh .awe-col, .awe-header td.boldh {
    vertical-align: central;
    height: 40px;
    text-align: left;
    background: #f8f9fa;
}
.headerboldh{
    vertical-align: central;
    height: 40px;
    text-align:center !important;
    background: #f8f9fa;
}

.boldh60px {
    vertical-align: central;
    height: 60px;
    text-align: left;
    background: #f8f9fa;
}

.homepageimage {
    margin-left: 20%;
}

.addbillcheckbox {
    margin-left: 1%;
    margin-bottom: 2% !important;
}

.readonly-checkbox {
    pointer-events: none;
    -ms-pointer-events: none;
    tabindex: -1;
}

.customaddbill {
    float: right;
    width: -webkit-fill-available;
}

.trow:nth-child(even) {
    background-color: aliceblue;
}

@media only screen and (max-width: 2420px) {
    .margindiv {
        justify-content: center;
    }
}

.closed {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.rolelogin{
    color:white;
}
input[type='file'] {
    color: rgba(0, 0, 0, 0)
}

.statuscolor {
    color: black !important;
    font-weight: bold;
}