@{
    ViewBag.Title = "IndexInitial";
    string googleMapApiKey = CRMUtilities.Utils.GoogleMapApiKey;

    FeatureData featureSet = ViewBag.FeatureSet as FeatureData;
}

<div class="well">
    <div class="row">
        @if (featureSet.ActivityFeature)
        {
            <div class="col-sm-2">
                <input type="button" id="btnActivity" value="Activity" class="form-control btn-primary" />
            </div>
        }

        @if (featureSet.OrderFeature)
        {
            <div class="col-sm-2">
                <input type="button" id="btnOrders" value="Orders" class="form-control btn-success" />
            </div>
        }

        @if (featureSet.PaymentFeature)
        {
            <div class="col-sm-2">
                <input type="button" id="btnPayments" value="Payments" class="form-control btn-info" />
            </div>
        }

        @if (featureSet.OrderReturnFeature)
        {
            <div class="col-sm-2">
                <input type="button" id="btnReturns" value="Returns" class="form-control btn-danger" />
            </div>
        }

        @if (featureSet.ExpenseFeature)
        {
            <div class="col-sm-2">
                <input type="button" id="btnExpenses" value="Expenses" class="form-control btn-warning" />
            </div>
        }

        @if (featureSet.CustomerFeature)
        {
            <div class="col-sm-2">
                <input type="button" id="btnCustomer" value="Customers" class="form-control btn-success" />
            </div>
        }

        @if (featureSet.ProductFeature)
        {
            <div class="col-sm-2">
                <input type="button" id="btnProduct" value="Products" class="form-control btn-success" />
            </div>
        }

        @if (featureSet.SalesPersonFeature)
        {
            <div class="col-sm-2">
                <input type="button" id="btnshowStaff" value="Sales Persons" class="form-control btn-success" />
            </div>
        }

        @if (featureSet.IssueReturnFeature)
        {
            <div class="col-sm-2">
                <input type="button" id="btnIssueReturn" value="Issue/Return" class="form-control btn-success" />
            </div>
        }

        @if (featureSet.AdvanceRequestModule)
        {
            <div class="col-sm-2">
                <input type="button" id="showAdvanceRequest" value="Advance Requests" class="form-control btn-success" />
            </div>
        }

        @if (featureSet.RedFarmerModule)
        {
            <div class="col-sm-2">
                <input type="button" id="showTerminateAgreementRequest" value="Red Farmers" class="form-control btn-danger" />
            </div>
        }
        @*Author:Ajith, Purpose:Dealer Questionnaire, Date:11/06/2021*@
        @if (featureSet.QuestionnaireFeature)
        {

            <div class="col-sm-2">
                <input type="button" id="btnQuestionnaire" value="Questionnaire" class="form-control btn-primary" />
            </div>
        }

        @if (featureSet.FollowUpTaskOption)
        {
            <div class="col-sm-2">
                <input type="button" id="showFollowUpTaskButton" value="Follow-Up/Tasks" class="form-control btn-success" />
            </div>
        }
        @if (featureSet.LeaveFeature)
        {
            <div class="col-sm-2">
                <input type="button" id="showLeaveModuleButton" value="Leaves" class=" form-control btn-info" />
            </div>
        }

        <div class="col-sm-2" id="reportsButtonDiv">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                    Reports
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="reportsList">
                    @if (featureSet.ExpenseReportFeature)
                    {
                        <li><a href="#" onclick="ReportClicked('Expense Report'); return false;">Expense</a></li>
                    }
                    @if (featureSet.FieldActivityReportFeature)
                    {
                        <li><a href="#" onclick="ReportClicked('Field Activity Report'); return false;">Field Activity</a></li>
                    }
                    @if (featureSet.EntityProgressReportFeature)
                    {
                        <li><a href="#" onclick="ReportClicked('Profile Progress Report'); return false;">Profile Progress</a></li>
                    }
                    @if (featureSet.AttendanceReportFeature)
                    {
                        <li><a href="#" onclick="ReportClicked('Attendance Report'); return false;">Attendance</a></li>
                    }
                    @if (featureSet.AttendanceSummaryReportFeature)
                    {
                        <li><a href="#" onclick="ReportClicked('Attendance Summary Report'); return false;">Attendance Summary</a></li>
                    }
                    @if (featureSet.AttendanceRegisterReportFeature)
                    {
                        <li><a href="#" onclick="ReportClicked('Attendance Register'); return false;">Attendance Register</a></li>
                    }

                    @if (featureSet.AbsenteeReportFeature)
                    {
                        <li><a href="#" onclick="ReportClicked('Absentee Report'); return false;">Absentee</a></li>
                    }
                    @if (featureSet.AppSignUpReportFeature)
                    {
                        <li><a href="#" onclick="ReportClicked('AppSignUp Report'); return false;">App Sign up</a></li>
                    }
                    @if (featureSet.AppSignInReportFeature)
                    {
                        <li><a href="#" onclick="ReportClicked('AppSignIn Report'); return false;">App Sign in</a></li>
                    }
                    @if (featureSet.ActivityReportFeature)
                    {
                        <li><a href="#" onclick="ReportClicked('Activity Report'); return false;">Activity</a></li>
                    }
                    @if (featureSet.ActivityByTypeReportFeature)
                    {
                        <li><a href="#" onclick="ReportClicked('ActivityByType Report'); return false;">ActivityByType</a></li>
                    }
                    @if (featureSet.KPIFeature)
                    {
                        <li><a href="#" onclick="ReportClicked('KPI'); return false;">KPI</a></li>
                    }
                    @if (featureSet.MAPFeature)
                    {
                        <li><a href="#" onclick="ReportClicked('MAP'); return false;">MAP</a></li>
                    }

                    @if (featureSet.EmployeeExpenseReport)
                    {
                        <li><a href="#" onclick="ReportClicked('Employee Expense Report'); return false;">Employee Expense</a></li>
                    }

                    @if (featureSet.DistanceReport)
                    {
                        <li><a href="#" onclick="ReportClicked('Distance Report'); return false;">Distance</a></li>
                    }

                    @if (featureSet.DistantActivityReport)
                    {
                        <li><a href="#" onclick="ReportClicked('Wrong Location Report'); return false;">Wrong Location</a></li>
                    }
                    @if (featureSet.UnSownReport)
                    {
                        <li><a href="#" onclick="UnSownReportClicked(); return false;">UnSown</a></li>
                    }
                    @if (featureSet.SurveyFormReport)
                    {
                        <li><a href="#" onclick="SurveyFormReportClicked(); return false;">Survey Form</a></li>
                    }
                    @*Author:Pankaj Kumar; Purpose: Day Planning; Date: 26/04/2021*@
                    @if (featureSet.DayPlanReport)
                    {
                        <li><a href="#" onclick="ReportClicked('Day Planning Report'); return false;">Day Plan</a></li>
                    }
                    @*Author:Rajesh V; Purpose: Farmer Summary Report; Date: 07/10/2021*@
                    @if (featureSet.FarmerSummaryReport)
                    {
                        <li><a href="#" onclick="ReportClicked('Farmer Summary Report'); return false;">Farmer Summary Report</a></li>
                    }
                    @*Author: Venkatesh:Dealers not found Report*@
                    @if (featureSet.DealersNotMetReport)
                    {
                        <li><a href="#" onclick="ReportClicked('Dealers Not Met'); return false;">Dealers Not Met</a></li>
                    }

                    @if (featureSet.DealersSummaryReport)
                    {
                        <li><a href="#" onclick="ReportClicked('Dealers Summary Report'); return false;">Dealers Summary Report</a></li>
                    }


                    @if (featureSet.GeoTagReport)
                    {
                        <li><a href="#" onclick="ReportClicked('Geo Tagging Report'); return false;">Geo Tagging Report</a></li>
                    }


                    @if (featureSet.AgreementsReport)
                    {
                        <li><a href="#" onclick="ReportClicked('Agreements Report'); return false;">Agreements Report</a></li>
                    }

                    @if (featureSet.DuplicateFarmersReport)
                    {
                        <li><a href="#" onclick="ReportClicked('Duplicate Farmers Report'); return false;">Duplicate Farmers Report</a></li>
                    }
                    @if (featureSet.FarmersBankAccountReport)
                    {
                        <li><a href="#" onclick="ReportClicked('Farmers Bank Account Report'); return false;">Farmers Bank Account Report</a></li>
                    }

                </ul>
            </div>
        </div>
    </div>

    <br />
</div>

@section scripts{
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/init-datepicker.js"></script>
    <script type="text/javascript" src="/Scripts/date.js"></script>

    <script>
        $(document).ready(
            function () {
                $("#btnActivity").off('click').on('click', ActivitySearchClicked);
                $("#btnOrders").off('click').on('click', OrderSearchClicked);
                $("#btnPayments").off('click').on('click', PaymentSearchClicked);
                $("#btnReturns").off('click').on('click', ReturnSearchClicked);
                $("#btnExpenses").off('click').on('click', ExpenseSearchClicked);
                $("#btnCustomer").off('click').on('click', CustomerSearchClicked);
                $("#btnProduct").off('click').on('click', ProductSearchClicked);
                $("#btnshowStaff").off('click').on('click', SalesPersonSearchClicked);
                $("#btnIssueReturn").off('click').on('click', IssueReturnSearchClicked);
                $('#showAdvanceRequest').off('click').on('click', showAdvanceRequestClicked);
                $('#showTerminateAgreementRequest').off('click').on('click', showTerminateAgreementRequestClicked);
                $('#btnQuestionnaire').off('click').on('click', QuestionnaireSearchClicked);
                $('#showFollowUpTaskButton').off('click').on('click', FollowUpTasksSearchClicked);
                $('#showLeaveModuleButton').off('click').on('click', LeaveSearchClicked);
                // if no reports, hide the reports button
                if ($("#reportsList").find("li").size() == 0) {
                    $("#reportsButtonDiv").hide();
                }
            }
        );

        function UnSownReportClicked() {
            var targetUrl = '/Dashboard/UnSownReport';
            window.location = targetUrl;
        }

        function SurveyFormReportClicked() {
            var targetUrl = '/Dashboard/SurveyFormReport';
            window.location = targetUrl;
        }

        function ReportClicked(reportName) {
            //alert(reportName);
            if (reportName == 'KPI') {
                var targetUrl = '/KPI';
                window.location = targetUrl;
            }
            else if (reportName == 'MAP') {
                var targetUrl = '/EmployeeMap';
                window.location = targetUrl;
            }
            else {
                SearchDashboard(reportName);
            }
        }

        var ActivitySearchClicked = function (event) {
            SearchDashboard('Activity');
        }

        var OrderSearchClicked = function (event) { SearchDashboard('Order'); }
        var PaymentSearchClicked = function (event) { SearchDashboard('Payment'); }
        var ReturnSearchClicked = function (event) { SearchDashboard('Return'); }
        var ExpenseSearchClicked = function (event) { SearchDashboard('Expense'); }
        var IssueReturnSearchClicked = function (event) { SearchDashboard('IssueReturn'); }
        var QuestionnaireSearchClicked = function (event) { SearchDashboard('Questionnaire'); }
        //var FollowUpTasksSearchClicked = function (event) { SearchDashboard('FollowUpTasks'); }

        var CustomerSearchClicked = function (event) {
            var targetUrl = '/Dashboard/ShowCustomers'
            window.location = targetUrl;
        }
        var ProductSearchClicked = function (event) {
            var targetUrl = '/Dashboard/ShowProducts'
            window.location = targetUrl;
        }
        var SalesPersonSearchClicked = function (event) {
            var targetUrl = '/Dashboard/ShowStaff'
            window.location = targetUrl;
        }

        var showAdvanceRequestClicked = function (event) {
            var targetUrl = '/Dashboard/AdvanceRequests';
            window.location = targetUrl;
        }

        var showTerminateAgreementRequestClicked = function (event) {
            var targetUrl = '/Dashboard/TerminateAgreementRequests';
            window.location = targetUrl;
        }

        var FollowUpTasksSearchClicked = function (event) {
            var targetUrl = '/Dashboard/FollowUpTasks'
            window.location = targetUrl;
        }
        var LeaveSearchClicked = function (event) {
            var targetUrl = '/Dashboard/LeaveModule'
            window.location = targetUrl;
        }

        function SearchDashboard(reportType) {
            var targetUrl = '/Dashboard/ShowSearch?reportType=' + reportType;
            window.location = targetUrl;
        }
    </script>
}

