<div style="font-size:small;" id="idCancelLinkContainer2">
    <a href="Cancel" title="Close without saving" id="popupCancelLink">
        <img width="20" height="20" src="~/Content/img/RedCloseRoundSmall.png" />
    </a>
</div>

<script type="text/javascript">
    // this is used for popup over popup

    $formContainer = $("div#divOverGlass2");
    var x = $formContainer.position();

    $("#idCancelLinkContainer2").css({
        left: x.left + $formContainer.width() -10,
        top: x.top +15,
        position: 'fixed'
    });
</script>