<div id="idGlassDiv">

</div>

<div id="idAlertArea">
    <div style="height:30px;background-color:darkblue;color:white;padding:3px;text-align:center;">
        <label style="font-size:large;display:inline-block;" id="idAlertAreaLabel">Error !</label>
    </div>

        <div style="padding:10px;">
            <h5 id="idAlertMsg">
                
            </h5>
        </div>


    <div style="text-align:center;margin-bottom:10px;">
        <span style="display:inline-block;">
            <input type="button" value="Close" class="btn btn-danger" id="idAlertClose" />
            <input type="button" value="Yes, Save" class="btn btn-success" id="idConfirmYes" />
            <input type="button" value="No, Return" class="btn btn-danger" id="idConfirmNo" />
        </span>
    </div>
</div>
