@model System.String

<div class="form-horizontal">
    <h2>
        <img src="~/Content/img/Warning.png" />
        <span style="margin-left:5px;">Warning!</span>
    </h2>

    <hr />
    <div style="margin-top:10px;">
        <h4>An error occurred while processing your request. Close this box and try again.</h4>
    </div>

    <div>&nbsp;</div>
    <div class="form-group">
        <div class="col-md-offset-5 col-md-4">
            <input type="button" value="Close" class="btn btn-danger" id="popupCancelLink" />
        </div>
    </div>
</div>
