@model System.String

<div class="form-horizontal">
    <h2>
        <img src="~/Content/img/TickMark.png" />
        <span style="margin-left:5px;">Success!</span></h2>

    <hr />
    <div style="margin-top:10px;">
        <h4>
            Changes have been saved.  Close this box and refresh the page to work with the updated data.
            @if(Model != null)
            {
                <span>@Model</span>
            }
        </h4>
    </div>

    <div>&nbsp;</div>
    <div class="form-group">
        <div class="col-md-offset-5 col-md-4">
            <input type="button" value="Close" class="btn btn-success" id="popupCancelLink" />
        </div>
    </div>
</div>
